<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
    <meta charset="UTF-8">
    <title>医疗机构管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/favicon.ico}"/>
    <link rel="stylesheet" th:href="@{/lib/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/animate.min.css}">
    <link rel="stylesheet" th:href="@{/iconfont/iconfont.css}">
</head>

<body>
	<div class="page-loading">
		<div class="rubik-loader"></div>
	</div>
	
	<div class="z-body animated fadeIn">
		<form class="layui-form zadmin-search-area input">
			<div class="layui-form-item">
				<div class="layui-inline">
					<label for="province" class="layui-form-label">区域</label>
					<div class="layui-inline">
						<select name="province" lay-filter="province" class="province">
							<option value="">请选择省</option>
						</select>
					</div>
					<div class="layui-inline">
						<select name="city" lay-filter="city" disabled>
							<option value="">请选择市</option>
						</select>
					</div>
					<div class="layui-inline">
						<select name="area" lay-filter="area" disabled>
							<option value="">请选择县/区</option>
						</select>
					</div>
				</div>
				<div class="layui-row">
					<label for="organizationName" class="layui-form-label">名称</label>
					<div class="layui-inline">
						<input type="text" name="organizationName" autocomplete="off"
							class="layui-input">
					</div>
					<button lay-submit="" lay-filter="search"
						class="layui-btn layui-btn-sm layui-btn-primary table-action">
						<i class="zadmin-icon zadmin-icon-search"></i>
					</button>
				</div>
			</div>
		</form>
		<table class="layui-hide" id="organization-table" lay-filter="treeTable"></table>
	</div>
	
	<script type="text/html" id="toolbar">
		<shiro:hasPermission name="organization:add">
			<button type="button" class="layui-btn layui-btn-xs layui-btn-normal" lay-event="add">
				<i class="zadmin-icon zadmin-icon-xinzeng zadmin-oper-area"></i>
					新增
			</button>
		</shiro:hasPermission>
	</script>
	
	<script type="text/html" id="column-toolbar">
		<shiro:hasPermission name="organization:update">
			<a lay-event="edit">
				<i class="zadmin-icon zadmin-icon-edit-square zadmin-oper-area zadmin-blue" title="编辑"></i>
			</a>
		</shiro:hasPermission>

		<shiro:hasPermission name="organization:delete">
			<a lay-event="del">
				<i class="zadmin-icon zadmin-icon-delete zadmin-oper-area zadmin-red" title="注销"></i>
			</a>
		</shiro:hasPermission>

		<shiro:lacksPermission  name="organization:update,organization:delete">
			<i class="zadmin-icon zadmin-icon-wuquanxian zadmin-oper-area zadmin-red"></i>无权限
		</shiro:lacksPermission>
	</script>
	
	<script th:src="@{/lib/jquery/jquery.min.js}"></script>
	<script th:src="@{/lib/layui/layui.js}"></script>
	<script th:src="@{/js/common.js}"></script>
	
	<script type="text/javascript" th:inline="none">
		layui.config({
			base: '/lib/layui/extend/'
		}).use(['table', 'element', 'form', 'dtree', 'tablePlug', "address"], function () {
			var $ = layui.$;
			var table = layui.table;
			var form = layui.form;
			var dtree = layui.dtree;
			var tablePlug = layui.tablePlug;
			var address = layui.address();
			
			tablePlug.smartReload.enable(true);
            
			table.render({
				elem: '#organization-table',
				url: '/organization/list',
				page: true,
				toolbar: '#toolbar',
				defaultToolbar: null,
				smartReloadModel: true,
				cols: [
					[
						{type: 'numbers', title: '序号', width:'5%'},
						{field: 'id', title: 'ID', hide: true},
						{field: 'name', title: '机构名称', sort: true},
						{field: 'provinceName', title: '省', sort: true},
						{field: 'cityName', title: '市', sort: true},
						{field: 'areaName', title: '区', sort: true},
						{field: 'orgAddress', title: '地址'}
					]
				]
			});
			
			// 工具条点击事件
			table.on('toolbar', function (obj) {
				var data = obj.data;
				var event = obj.event;
				if (event === 'add') {
					add();
				}
            });
			
			function add() {
				layer.open({
					content: "/organization",
					title: "新增医疗机构",
					area: ['100%', '100%'],
					type: 2,
					shadeClose: true,
					end: function () {
						table.reload('organization-table');
					}
				});
			}
			
			form.on('submit(search)', function (form) {
				table.reload('organization-table', {
					where: form.field
				});
				return false;
			});
		});
	</script>
</body>
</html>