<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
    <meta charset="UTF-8">
    <title>医疗机构架构图</title>
    <link rel="stylesheet" th:href="@{/lib/layui/css/layui.css}"/>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/animate.min.css}">
    <link rel="stylesheet" th:href="@{/iconfont/iconfont.css}">
    <link rel="stylesheet" th:href="@{/lib/layui/extend/eleTree.css}" />
    <link rel="stylesheet" th:href="@{/lib/layui/extend/dtree.css}">
    <link rel="stylesheet" th:href="@{/lib/layui/extend/font/dtreefont.css}">
</head>

<style>
    html, body {
        height: 100%;
        margin:0;padding:0;
        font-size: 12px;
    }
    div{
        -moz-box-sizing: border-box;  /*Firefox3.5+*/
        -webkit-box-sizing: border-box; /*Safari3.2+*/
        -o-box-sizing: border-box; /*Opera9.6*/
        -ms-box-sizing: border-box; /*IE8*/
        box-sizing: border-box; /*W3C标准(IE9+，Safari5.1+,Chrome10.0+,Opera10.6+都符合box-sizing的w3c标准语法)*/
    }

    .layui-table-view .layui-table {width:100%}
</style>

<body class="animated fadeIn">
	<span id="userProvince" style="display: none;"><shiro:principal property="province"/></span>
	<span id="userCity" style="display: none;"><shiro:principal property="city"/></span>
	<span id="userArea" style="display: none;"><shiro:principal property="area"/></span>
	<span id="roleId" style="display: none;"><shiro:principal property="roleId"/></span>
	<span id="roleTypeId" style="display: none;"><shiro:principal property="roleTypeId"/></span>
	<div class="page-loading">
		<div class="rubik-loader"></div>
	</div>
	
	<div style="height: 100%">
		<div style="height: 100%">
			<div style="padding: 20px; background-color: #F2F2F2; height: 100%;">
				<div class="layui-row layui-col-space15">
					<div class="layui-col-md3">
						<div class="layui-card">
							<div class="layui-card-header">医疗机构结构</div>
							<div class="layui-card-body" id="toolbarDiv">
								<div class="layui-card-body" id="toolbarDiv">
	                                <ul id="organziationTree" class="dtree" data-id="0"></ul>
	                            </div>
							</div>
						</div>
					</div>
					<div class="layui-col-md9">
						<div class="layui-card">
							<div class="layui-card-header" id="card-header">医疗机构</div>
							<div class="layui-card-body">
								<div class="animated fadeIn">
									<form class="layui-form zadmin-search-area input">
										<div class="layui-form-item">
											<div class="layui-inline">
												<label for="orgName" class="layui-form-label">名称</label>
												<div class="layui-inline" style="width: 19%;">
													<input type="text" name="orgName" autocomplete="off"
														class="layui-input">
												</div>
												<div class="layui-inline" style="width: 19%;">
													<select name="province" lay-filter="province" class="province">
														<option value="">请选择省</option>
													</select>
												</div>
												<div class="layui-inline" style="width: 19%;">
													<select name="city" lay-filter="city" disabled>
														<option value="">请选择市</option>
													</select>
												</div>
												<div class="layui-inline" style="width: 19%;">
													<select name="area" lay-filter="area" disabled>
														<option value="">请选择县/区</option>
													</select>
												</div>
												<button lay-submit="" lay-filter="search"
													class="layui-btn layui-btn-sm layui-btn-primary table-action">
													<i class="zadmin-icon zadmin-icon-search"></i>
												</button>
											</div>
										</div>
									</form>
									<table class="layui-hide" id="organization-table" lay-filter="treeTable"></table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<script type="text/html" id="toolbar">
		<shiro:hasPermission name="dept:add">
			<button type="button" class="layui-btn layui-btn-xs layui-btn-normal" lay-event="add">
				<i class="zadmin-icon zadmin-icon-xinzeng zadmin-oper-area"></i>
					新增
			</button>
		</shiro:hasPermission>
	</script>
	
    <script type="text/html" id="column-toolbar">
		<shiro:hasPermission name="dept:update">
			<a lay-event="edit">
				<i class="zadmin-icon zadmin-icon-edit-square zadmin-oper-area zadmin-blue" title="编辑"></i>
			</a>
		</shiro:hasPermission>

		<shiro:hasPermission name="dept:delete">
			<a lay-event="del">
				<i class="zadmin-icon zadmin-icon-delete zadmin-oper-area zadmin-red" title="删除"></i>
			</a>
		</shiro:hasPermission>

		<shiro:lacksPermission name="dept:update, dept:delete">
			<i class="zadmin-icon zadmin-icon-wuquanxian zadmin-oper-area zadmin-red"></i>无权限
		</shiro:lacksPermission>
    </script>
    
    <script type="text/html" id="column-toolbar-sort">
		<i class="zadmin-icon zadmin-icon-shangyimian zadmin-oper-area zadmin-blue" lay-event="up" title="上移"></i>

		<i class="zadmin-icon zadmin-icon-xiayimian zadmin-oper-area zadmin-blue" lay-event="down" title="下移"></i>

		<i class="zadmin-icon zadmin-icon-zhidingmian zadmin-oper-area zadmin-blue" lay-event="top" title="置顶"></i>

		<i class="zadmin-icon zadmin-icon-zhidimian zadmin-oper-area zadmin-blue" lay-event="bottom" title="置底"></i>
	</script>
	
	<script th:src="@{/lib/jquery/jquery.min.js}"></script>
	<script th:src="@{/lib/layui/layui.js}"></script>
	<script th:src="@{/js/common.js}"></script>
	
    <script>
	    var userProvince = $('#userProvince').text() == 'null' ? null : $('#userProvince').text();
		var userCity = $('#userCity').text() == 'null' ? null : $('#userCity').text();
		var userArea = $('#userArea').text() == 'null' ? null : $('#userArea').text();
        var parentDeptId = 0;
        // 获取有没有删除, 更新, 和新增的权限.
		var hasDeptDelete = false;
		var hasDeptUpdate = false;
		var hasDeptAdd = false;
		
		$.get('/security/hasPermission/organization:update', function (data) {
			hasDeptUpdate = data.data;
		});
		$.get('/security/hasPermission/organization:delete', function (data) {
			hasDeptDelete = data.data;
		});
		$.get('/security/hasPermission/organization:add', function (data) {
			hasDeptAdd = data.data;
		});
		
		layui.config({
			base: '/lib/layui/extend/'
		}).use(['layer', 'form', 'table', 'tablePlug', 'dtree', 'address'], function () {
			var $ = layui.$;
			var layer = layui.layer;
			var form = layui.form;
			var table = layui.table;
			var tablePlug = layui.tablePlug;
			var dtree = layui.dtree;
			var address = layui.address(userProvince, userCity, userArea);
			
			tablePlug.smartReload.enable(true);
			
			table.render({
				elem: '#organization-table',
				url: '/organization/list',
				page: true,
				toolbar: '#toolbar',
				defaultToolbar: null,
				smartReloadModel: true,
				cols: [
					[
						{type: 'numbers', title: '序号', width:'5%'},
						{field: 'id', title: 'ID', hide: true},
						{field: 'name', title: '机构名称', sort: true},
						{field: 'provinceName', title: '省', sort: true},
						{field: 'cityName', title: '市', sort: true},
						{field: 'areaName', title: '区', sort: true},
						{field: 'orgAddress', title: '地址'}
					]
				]
			});
			
			dtree.render({
				elem: "#organziationTree",
				url: "/organization/dist/tree",
				method: 'GET',
				dataStyle: 'layuiStyle',
				dataFormat: "list",
				icon: "-1",
				initLevel: "2",
				record: true,
				response: {
					statusCode: 0,
					treeId: 'id',
					title: 'name',
					parentId: 'parentId'
                }
			});
			
			dtree.on("node('organziationTree')", function (obj) {
				table.reload('organization-table', {
					where: {
						organizationId: obj.param.recordData.institution,
						distType: obj.param.recordData.distType
					}
				});
				console.log(111);
				$("#card-header").html("[" + obj.param.context + "]的子机构");
			});
			
			// 工具条点击事件
			table.on('toolbar', function (obj) {
				var data = obj.data;
				var event = obj.event;
				if (event === 'add') {
					add();
				}
            });
			
			table.on('tool', function (obj) {
				var data = obj.data;
				var swapId;
				var currentId;
				if (obj.event === 'edit') {
					edit(data.id);
				} else if (obj.event === 'del') {
					del(data.id);
				} else if (obj.event === "up") {
					swapId = $(obj.tr).prev().find("td[data-field='id'] div").html();
					currentId = data.id;
					if (typeof swapId == 'undefined') {
						layer.msg("已是第一层");
						return;
					}
					swapSort(currentId, swapId);
				} else if (obj.event === "down") {
					swapId = $(obj.tr).next().find("td[data-field='id'] div").html();
					currentId = data.id;
					if (typeof swapId == 'undefined') {
						layer.msg("已是最后一层");
						return;
					}
					swapSort(currentId, swapId);
				} else if (obj.event === "top") {
					swapId = $("tr[data-index='0']").first().parent().children().first().find("td[data-field='id'] div").html();
					currentId = data.id;
					swapSort(currentId, swapId);
				} else if (obj.event === "bottom") {
					swapId = $("tr[data-index='0']").first().parent().children().last().find("td[data-field='id'] div").html();
					currentId = data.id;
					swapSort(currentId, swapId);
				}
			});
			
			function add() {
				layer.open({
					content: "/organization",
					title: "新增医疗机构",
					area: ['70%', '80%'],
					type: 2,
					shadeClose: true,
					end: function () {
						table.reload('organization-table');
					}
				});
			}
			
			function del(id) {
				layer.confirm("你确定删除数据吗？如果存在下级节点则一并删除！", {icon: 3, title: '提示'},
					function (index) {
						$.post('/dept/' + id, {_method: "DELETE"}, function (data) {
							layer.close(index);
							handlerResult(data, function () {
								refresh();
							});
						});
					}, function (index) {
						layer.close(index);
					}
				);
			}
			
			function refresh() {
				table.reload("organization-table");
				DTree.menubarMethod().refreshTree();
			}
			
			function edit(id) {
				layer.open({
					content: '/dept/' + id,
					title: "编辑",
					area: ['70%', '80%'],
					type: 2,
					maxmin: true,
					shadeClose: true,
					end: function () {
						refresh();
					}
				});
			}
			
			form.on('submit(search)', function (form) {
				table.reload('organization-table', {
					where: form.field
				});
				return false;
			});
		});
	</script>
</body>
</html>