<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>备休情况</title>
	<link rel="apple-touch-icon" sizes="180x180" th:href="@{/favicon.ico}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/favicon.ico}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/favicon.ico}">
    <link rel="stylesheet" th:href="@{/lib/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
</head>
<body class="z-body">
	<div class="searchDiv" style="margin-bottom:20px;">
		<div class="layui-row" style="margin-bottom:10px;">
			<div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
				医生姓名：
				<div class="layui-inline">
					<input class="layui-input" name="doctorNameInput" id="doctorNameInput" autocomplete="off">
				</div>
			</div>
			<div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
				备案机构：
				<div class="layui-inline">
					<input class="layui-input" name="orgNameInput" id="orgNameInput" autocomplete="off">
				</div>
			</div>
			<div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
				开始时间：
				<div class="layui-inline">
					<input type="text" class="layui-input" name="startDateInput" id="startDateInput" placeholder="yyyy-MM-dd HH:mm:ss">
				</div>
			</div>
		</div>
		<div class="layui-row">
			<div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
				结束时间：
				<div class="layui-inline">
					<input type="text" class="layui-input" name="endDateInput" id="endDateInput" placeholder="yyyy-MM-dd HH:mm:ss">
				</div>
			</div>
			<div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
				<button class="layui-btn" data-type="reload">
					<i class="layui-icon layui-icon-search"></i>搜索
				</button>
			</div>
		</div>
	</div>
	<table class="layui-hide" id="doctorCalendarTable"></table>
	
	<script th:src="@{/lib/layui/layui.js}"></script>
    <script th:src="@{/lib/jquery/jquery.min.js}"></script>
    <script th:src="@{/js/common.js}"></script>
    <script th:inline="javascript">
    	layui.use(['table','laydate'], function(){
    	  var table = layui.table;
    	  var laydate = layui.laydate;
    	  var $ = layui.$;
    	  
    	  //开始时间
    	  laydate.render({
    	    elem: '#startDateInput'
    	    ,type: 'datetime'
    	  });
    	  //结束时间
    	  laydate.render({
    	    elem: '#endDateInput'
    	    ,type: 'datetime'
    	  });
    	  
    	  table.render({
    	    elem: '#doctorCalendarTable'
    	    ,url:'/calendar/getDoctorCalendars'
    	    ,method : 'post' //默认：get请求
    	    ,where : {
    			doctorName: $('#doctorNameInput').val(),
		    	orgName: $('#orgNameInput').val(),
		    	startDate: $('#startDateInput').val(),
		    	endDate: $('#endDateInput').val()
			}
			,contentType : 'application/json'
    	    ,cols: [
    	    	[
    	    	  {type: 'numbers', title: '序号', align: 'center', width:'5%'}
	    	      ,{field:'doctorName', width:'20%', title: '医生姓名'}
	    	      ,{field:'doctorPhone', width:'20%', title: '医生手机号'}
	    	      ,{field:'calendarDate', width:'20%', title: '备休日'}
	    	      ,{field:'calendarPeriod', width:'15%', title: '备休时段'}
	    	      ,{field:'orgName', width:'20%', title: '备案机构'}
    	    	]
    	    ]
    	  	,id: 'tableReload'
    		,page: true
    		,height: 400
    	  });
    	  
    	  var active = {
    		reload: function(){
    			//执行重载
    			table.reload('tableReload', {
    			    page: {
    			       curr: 1 //重新从第 1 页开始
    			    }
	    			,where: {
	    			    doctorName: $('#doctorNameInput').val().trim(),
	    			    orgName: $('#orgNameInput').val().trim(),
	    			    startDate: $('#startDateInput').val(),
	    			    endDate: $('#endDateInput').val()
	    			}
    			});
    		}
    	  };
    			  
    	  $('.searchDiv .layui-btn').on('click', function(){
    		var type = $(this).data('type');
    		active[type] ? active[type].call(this) : '';
    	  });
    	});
    </script>
</body>
</html>