<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>医生备休</title>
	<link rel="apple-touch-icon" sizes="180x180" th:href="@{/favicon.ico}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/favicon.ico}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/favicon.ico}">
    <link rel="stylesheet" th:href="@{/lib/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/main.min.css}">
    <!-- <link rel="stylesheet" th:href="@{/lib/layui/css/modules/layer/default/layer.css}"> -->
</head>
<body class="z-body">

	<div id="calendar"></div>

	<script th:src="@{/lib/layui/layui.js}"></script>
    <script th:src="@{/lib/jquery/jquery.min.js}"></script>
    <script th:src="@{/js/main.min.js}"></script>
    <script th:src="@{/js/locales-all.min.js}"></script>
    <!-- <script th:src="@{/lib/layui/lay/modules/layer.js}"></script> -->
    <!-- <script th:src="@{/js/tooltip.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script> -->
    <script th:src="@{/js/common.js}"></script>
    <script th:inline="javascript">
    	var form;
    	var laydate;
    	var layerIndex;
    	var layer;
    	const allDayPeriod = '00:00 - 23:59';
		layui.use(['layer','laydate','form'], function(){
			laydate = layui.laydate;
			form = layui.form;
			layer = layui.layer;
			
			form.on('submit(addCalendarForm)', function(data){
				var calendarType = data.field.calendarType;
				
				if(calendarType == allDayPeriod){
					data.field.allDay = true;
				}else{
					data.field.allDay = false;
				}
				var calendarTypeArr = calendarType.split(" - ");
				data.field.start = data.field.calendarDate + " " + calendarTypeArr[0];
				data.field.end = data.field.calendarDate + " " + calendarTypeArr[1];
				
		  		$.ajax({
					type: "POST",
			        dataType: "json",
				    data: JSON.stringify(data.field),
			        url: "/calendar/addCalendar",
			        contentType: "application/json",
			        success:function(resData){
			        	if(resData.code == 0){
			        		layer.close(layerIndex);
			        		calendar.refetchEvents();
			        	}else{
			        		layer.alert(resData.msg);
			        	}
			     	},
			     	error: function () {
			     		layer.alert('系统繁忙！', {icon: 1, title:'温馨提示'});
				 	}
			   });
		  	});
			
			form.on('submit(updCalendarForm)', function(data){
				var calendarType = data.field.calendarType;
				
				if(calendarType == allDayPeriod){
					data.field.allDay = true;
				}else{
					data.field.allDay = false;
				}
				var calendarTypeArr = calendarType.split(" - ");
				data.field.start = data.field.calendarDate + " " + calendarTypeArr[0];
				data.field.end = data.field.calendarDate + " " + calendarTypeArr[1];
				
		  		$.ajax({
					type: "POST",
			        dataType: "json",
				    data: JSON.stringify(data.field),
			        url: "/calendar/updCalendar",
			        contentType: "application/json",
			        success:function(resData){
			        	if(resData.code == 0){
			        		layer.close(layerIndex);
			        		calendar.refetchEvents();
			        	}else{
			        		layer.alert(resData.msg);
			        	}
			     	},
			     	error: function () {
			     		layer.alert('系统繁忙！', {icon: 1, title:'温馨提示'});
				 	}
			   });
		  	});
			
			form.on('submit(delCalendarForm)', function(data){
				var paraData = {"calendarId" : data.field.id};
		  		$.ajax({
					type: "POST",
			        dataType: "json",
				    data: JSON.stringify(paraData),
			        url: "/calendar/delCalendar",
			        contentType: "application/json",
			        success:function(resData){
			        	if(resData.code == 0){
			        		layer.close(layerIndex);
			        		calendar.refetchEvents();
			        	}else{
			        		layer.alert(resData.msg);
			        	}
			     	},
			     	error: function () {
			     		layer.alert('系统繁忙！', {icon: 1, title:'温馨提示'});
				 	}
			   });
		  	});
		});
    	
		var calendar;
	    document.addEventListener('DOMContentLoaded', function() {
	    	var calendarEl = document.getElementById('calendar');
			
			calendar = new FullCalendar.Calendar(calendarEl, {
				initialView: 'dayGridMonth',
				height: 450,
				aspectRatio: 1,
				locale: 'zh-cn',
				displayEventTime: false,
				/* eventTimeFormat: {
					hour: 'numeric',
					minute: '2-digit',
					second: '2-digit',
					meridiem: 'short'
				}, */
				/* eventDidMount: function(info) {
					var tooltip = new Tooltip(info.el, {
						//title: info.event.extendedProps.description,
						title: "hhhhhhhhhhhhhhhhhhh",
						placement: 'top',
						trigger: 'hover',
						//container: 'body'
					});
				}, */
				events: {
					url: '/calendar/getDoctorCalendarEvents',
					method: 'GET',
					success: function(content, xhr) {
						if(content.code == 0){
							return content.data;
						}else{
							layer.alert(content.msg);
							return;
						}
					},
					failure: function(errorObj) {
						layer.alert(errorObj);
					}
				},
				dateClick: function(info) {
					var nowDate = dateFormat('yyyy-MM-dd', new Date())
					if(info.dateStr < nowDate){
						layer.alert("不可操作今天之前日期")
						return;
					}
					
					var calendarEvents = calendar.getEvents();
					for(var i=0;i<calendarEvents.length;i++){
						if(info.dateStr == dateFormat('yyyy-MM-dd',calendarEvents[i].start)){
							return;
						}
					}
					
					var addContent = '<div class="layui-form" action="" style="margin-top:20px;">'+
						'<div class="layui-form-item">'+
							'<div class="layui-inline">'+
								'<label class="layui-form-label" style="width:110px;">日程标识</label>'+
			                    '<div class="layui-input-inline">'+
			                        '<input id="id" name="id" value="'+randomString(20)+'" lay-verify="required" class="layui-input" type="text" placeholder="日程标识" readonly="readonly"/>'+
			                    '</div>'+
							'</div>'+
						'</div>'+
						'<div class="layui-form-item">'+
							'<div class="layui-inline">'+
								'<label class="layui-form-label" style="width:110px;">日程标题</label>'+
			                    '<div class="layui-input-inline">'+
			                        '<input id="title" name="title" value="备休日" lay-verify="required" class="layui-input" type="text" placeholder="日程标题"/>'+
			                    '</div>'+
							'</div>'+
						'</div>'+
						'<div class="layui-form-item">'+
							'<div class="layui-inline">'+
								'<label class="layui-form-label" style="width:110px;">空闲日程</label>'+
								'<div class="layui-input-inline">'+
		    						'<input id="calendarDate" name="calendarDate" value="'+info.dateStr+'" lay-verify="required" class="layui-input" type="text" placeholder="空闲日程" autocomplete="off"/>'+
								'</div>'+
							'</div>'+
						'</div>'+
						'<div class="layui-form-item">'+
		  					'<div class="layui-inline">'+
								'<label class="layui-form-label" style="width:110px;">空闲时间段</label>'+
								'<div class="layui-input-inline">'+
									'<input id="calendarType" name="calendarType" lay-verify="required" class="layui-input" type="text" placeholder="空闲时间段" autocomplete="off"/>'+
								'</div>'+
							'</div>'+
						'</div>'+
						'<div class="layui-form-item">'+
							'<div class="layui-inline-inline" style="text-align:center;">'+
								'<button class="layui-btn" lay-submit lay-filter="addCalendarForm">保存</button>'+
							'</div>'+
						'</div>'+
					'</div>';
					
					layerIndex = layer.open({
						type: 1,
						title: '添加日程',
						area: ['400px', '430px'],
						offset: 't',
						content: addContent
					});
					
					laydate.render({
						elem: '#calendarDate'
						,type: 'date'
						,trigger: 'click'
					});
					
					laydate.render({
						elem: '#calendarType'
						,position: 'fixed'
						,type: 'time'
						,format: 'HH:mm'
						,range: true
						,trigger: 'click'
						,done: function(value, date, endDate){
							if(value == ''){
								$("#title").val("备休日");
							}if(value == allDayPeriod){
								$("#title").val("全天（备休日）");
							}else{
								$("#title").val("备休时段："+value);
							}
						}
					});
					
					form.render('select');
				},
				eventClick: function(info) {
					var nowDate = dateFormat('yyyy-MM-dd', new Date());
					var eventDate = dateFormat('yyyy-MM-dd', info.event.start);
					if(eventDate < nowDate){
						layer.alert("不可操作今天之前日期")
						return;
					}
					
					var editContent = '<div class="layui-form" action="" style="margin-top:20px;">'+
						'<div class="layui-form-item">'+
							'<div class="layui-inline">'+
								'<label class="layui-form-label" style="width:110px;">日程标识</label>'+
			                    '<div class="layui-input-inline">'+
			                        '<input id="id" name="id" value="'+info.event.id+'" lay-verify="required" class="layui-input" type="text" placeholder="日程标识" readonly="readonly"/>'+
			                    '</div>'+
							'</div>'+
						'</div>'+
						'<div class="layui-form-item">'+
							'<div class="layui-inline">'+
								'<label class="layui-form-label" style="width:110px;">日程标题</label>'+
			                    '<div class="layui-input-inline">'+
			                        '<input id="title" name="title" value="'+info.event.title+'" lay-verify="required" class="layui-input" type="text" placeholder="日程标题"/>'+
			                    '</div>'+
							'</div>'+
						'</div>'+
						'<div class="layui-form-item">'+
							'<div class="layui-inline">'+
								'<label class="layui-form-label" style="width:110px;">空闲日程</label>'+
								'<div class="layui-input-inline">'+
		    						'<input id="calendarDate" name="calendarDate" value="'+dateFormat('yyyy-MM-dd',info.event.start)+'" lay-verify="required" class="layui-input" type="text" placeholder="日程时间" readonly="readonly" autocomplete="off"/>'+
								'</div>'+
							'</div>'+
						'</div>'+
						'<div class="layui-form-item">'+
		  					'<div class="layui-inline">'+
								'<label class="layui-form-label" style="width:110px;">空闲时间段</label>'+
								'<div class="layui-input-inline">'+
									'<input id="calendarType" name="calendarType" value="'+convertDateToPeriod(info.event.allDay, info.event.start, info.event.end)+'" lay-verify="required" class="layui-input" type="text" placeholder="空闲时间段" autocomplete="off"/>'+
								'</div>'+
							'</div>'+
						'</div>'+
						'<div class="layui-form-item">'+
							'<div class="layui-inline-inline" style="text-align:center;">'+
								'<button class="layui-btn" lay-submit lay-filter="updCalendarForm">修改</button>'+
								'<button class="layui-btn" lay-submit lay-filter="delCalendarForm">删除</button>'+
							'</div>'+
						'</div>'+
					'</div>';
					
					layerIndex = layer.open({
						type: 1,
						title: '修改日程',
						area: ['400px', '430px'],
						offset: 't',
						content: editContent
					});
					
					laydate.render({
						elem: '#calendarType'
						,position: 'fixed'
						,type: 'time'
						,format: 'HH:mm'
						,range: true
						,trigger: 'click'
						,done: function(value, date, endDate){
							if(value == ''){
								$("#title").val("备休日");
							}if(value == allDayPeriod){
								$("#title").val("全天（备休日）");
							}else{
								$("#title").val("备休时段："+value);
							}
						}
					});
					
					form.render('select');
				}
			});
			calendar.render();
	    });
	    
	    var convertDateToPeriod = function(allDay, startDate, endDate){
	    	if(allDay){
	    		return allDayPeriod;
	    	}else{
	    		return startDate.getHours()+":"+startDate.getMinutes()
	    		+" - "+
	    		endDate.getHours()+":"+endDate.getMinutes();
	    	}
	    }
	    
    </script>
</body>
</html>