<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>用户编辑</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/favicon.ico}"/>
    <link rel="stylesheet" th:href="@{/lib/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/animate.min.css}">
    <link rel="stylesheet" th:href="@{/lib/layui/extend/dtree.css}" />
    <link rel="stylesheet" th:href="@{/lib/layui/extend/font/dtreefont.css}">
</head>

<body>
	<div class="z-body animated fadeIn">
		<span id="currentUserProvince" style="display: none;"><shiro:principal property="province"/></span>
		<span id="currentUserCity" style="display: none;"><shiro:principal property="city"/></span>
		<span id="currentUserArea" style="display: none;"><shiro:principal property="area"/></span>
		<span id="currentRoleId" style="display: none;"><shiro:principal property="roleId"/></span>
		<span id="currentRoleTypeId" style="display: none;"><shiro:principal property="roleTypeId"/></span>
		<div class="layui-form">
			<form action="" method="post" class="layui-form layui-form-pane">
				<div class="layui-form-item">
					<label for="loginName" class="layui-form-label">用户名</label>
					<div class="layui-input-block">
						<input type="text" id="loginName" name="loginName" lay-verify="required|username"
							lay-vertype="tips" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label for="loginPwd" class="layui-form-label">密码</label>
					<div class="layui-input-block">
						<input type="password" id="loginPwd" name="loginPwd"
							lay-verify="required|pass" lay-vertype="tips" autocomplete="off"
							class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label for="confirm" class="layui-form-label">确认密码</label>
					<div class="layui-input-block">
						<input type="password" id="confirm" name="confirm"
							lay-verify="required|pass" lay-vertype="tips" autocomplete="off"
							class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label for="userName" class="layui-form-label">姓名</label>
					<div class="layui-input-block">
						<input type="text" id="userName" name="userName" lay-verify="required"
							lay-vertype="tips" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label for="sex" class="layui-form-label">性别</label>
					<div class="layui-input-block">
						<input type="radio" id="sex_0" name="sex" value="0" title="男" checked>
						<input type="radio" id="sex_1" name="sex" value="1" title="女">
					</div>
				</div>
				<div class="layui-form-item">
					<label for="age" class="layui-form-label">年龄</label>
					<div class="layui-input-block">
						<input type="text" id="age" name="age"
							lay-verify="required|number" lay-vertype="tips"
							autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label for="phone" class="layui-form-label">手机号</label>
					<div class="layui-input-block">
						<input type="text" id="phone" name="phone" lay-verify="phone" lay-vertype="tips"
							autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label for="email" class="layui-form-label">邮箱</label>
					<div class="layui-input-block">
						<input type="text" id="email" name="email" lay-verify="mandatoryfieldEmail" lay-vertype="tips"
							autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label for="role" class="layui-form-label">角色</label>
					<div class="layui-input-block">
						<div id="role" class="xm-select-demo"></div>
					</div>
				</div>
				<div id="organziation" class="layui-form-item" style="display: none;">
					<label for="orgTree" class="layui-form-label">所属机构</label>
					<div class="layui-input-block">
						<ul id="orgTree" class="dtree" data-id="0" data-value="请选择机构"></ul>
					</div>
				</div>
				<div id="doctorEle_part1" style = "display: none;">
					<div class="layui-form-item">
						<label for="patientType" class="layui-form-label">病人类型</label>
						<div class="layui-input-block">
							<div id="patientType" class="xm-select-demo"></div>
						</div>
					</div>
					<div class="layui-form-item">
						<label for="operationType" class="layui-form-label">手术类型</label>
						<div class="layui-input-block">
							<div id="operationType" class="xm-select-demo"></div>
						</div>
					</div>
				</div>
				
				<div id="doctorAndNurseEle_part1" style = "display: none;">
					<div class="layui-form-item">
						<label for="idCard" class="layui-form-label">身份证</label>
						<div class="layui-input-block">
							<input type="text" id="idCard" name="idCard" lay-vertype="tips"
								autocomplete="off" class="layui-input">
						</div>
					</div>
				</div>
				<div id="doctorEle_part2" style = "display: none;">
					<div class="layui-form-item">
						<label for="certificateNo" class="layui-form-label" style="padding: 8px 2px;">资格证编号</label>
						<div class="layui-input-block">
							<input type="text" id="certificateNo" name="certificateNo"
								lay-vertype="tips" autocomplete="off" class="layui-input">
						</div>
					</div>
				</div>
				<div id="doctorAndNurseEle_part2" style = "display: none;">
					<div class="layui-form-item">
						<label for="occupationalNo" class="layui-form-label" style="padding: 8px 2px;">执业证编号</label>
						<div class="layui-input-block">
							<input type="text" id="occupationalNo" name="occupationalNo"
								lay-vertype="tips" autocomplete="off" class="layui-input">
						</div>
					</div>
					<div class="layui-form-item">
						<label for="titlesNo" class="layui-form-label" style="padding: 8px 2px;">职称证编号</label>
						<div class="layui-input-block">
							<input type="text" id="titlesNo" name="titlesNo"
								lay-vertype="tips" autocomplete="off" class="layui-input">
						</div>
					</div>
				</div>
				<div id="doctorEle_part3" style = "display: none;">
					<!-- 医生角色职称 -->
					<div class="layui-form-item">
						<label for="doctorTitles" class="layui-form-label">职称</label>
						<div class="layui-input-block">
							<div id="doctorTitles" class="xm-select-demo"></div>
						</div>
					</div>
				</div>
				<div id="nurseEle_part" style = "display: none;">
					<!-- 护士角色职称 -->
					<div class="layui-form-item">
						<label for="nurseTitles" class="layui-form-label">职称</label>
						<div class="layui-input-block">
							<div id="nurseTitles" class="xm-select-demo"></div>
						</div>
					</div>
				</div>
				<div id="doctorAndNurseEle_part3" style = "display: none;">
					<div class="layui-form-item">
						<label for="titlesNo" class="layui-form-label">证件照</label>
						<div class="layui-inline">
							<div class="layui-input-inline">
								<!--图片名-->
								<input id="fileName" type="text" autocomplete="off" class="layui-input" disabled>
								<!--隐藏输入框 用来存放上传后图片路径-->
								<input id="credential_hide" name="credentialOne" type="hidden" autocomplete="off" class="layui-input">
							</div>
							<!--隐藏按钮 上传-->
							<button id="upload_img" type="button" hidden></button>
							<button class="layui-btn layui-btn-normal" id="preview_img" type="button">上传图片</button>
						</div>
					</div>
					<div class="layui-form-item">
						<!--折叠面板-->
						<div class="layui-collapse" lay-accordion="" style="width: 399.5px">
							<div class="layui-colla-item">
								<h2 class="layui-colla-title">展开图片</h2>
								<div class="layui-colla-content layui-show" id="colla_img" style=""></div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="layui-form-item">
					<div class="layui-input-block"
						style="margin-left: 0; text-align: center;">
						<input type="hidden" id="roleTypeId" name="roleTypeId" th:value="${user?.roleTypeId}">
						<input type="hidden" id="province" name="province" th:value="${user?.province}">
						<input type="hidden" id="city" name="city" th:value="${user?.city}">
						<input type="hidden" id="area" name="area" th:value="${user?.area}">
						
						<!-- 仅上传图片至服务器 -->
						<!-- <button id="submitImg" th:text="增加"
							class="layui-btn layui-btn-normal btn-w100" lay-submit=""
							style="display: none;"></button> -->
						<!-- 表单提交按钮 -->
						<button id="submitBtn" th:text="增加"
							class="layui-btn layui-btn-normal btn-w100" lay-submit=""
							data-th-lay-filter="add"></button>
					</div>
				</div>
			</form>
		</div>
	</div>
	
	<script th:src="@{/lib/jquery/jquery.min.js}"></script>
    <script th:src="@{/lib/layui/layui.js}"></script>
    <script th:src="@{/js/common.js}"></script>
    
    <script>
    	var firstRender = true;	// 是否是第一次渲染，是：渲染；否：数据重载
    	var uploadSuc = false;	// 证件照是否上传成功
		
		layui.config({
			base: '/lib/layui/extend/'
		}).extend({
			xmSelect: 'xm-Select'
		}).use(['form', 'layer', 'xmSelect', 'dtree', 'upload'], function () {
			$ = layui.jquery;
			var form = layui.form,
				layer = layui.layer,
				xmSelect = layui.xmSelect,
				upload = layui.upload,
				dtree = layui.dtree;
			var sex = [[${user?.sex} + '']];
			$("input[name='sex'][value='" + sex + "']").attr('checked',true);
			form.render();
			
			//自定义校验
			form.verify({
				username: function(value, item) { //value：表单的值、item：表单的DOM对象
					if (!new RegExp("^[a-zA-Z0-9_\u4e00-\u9fa5\\s·]+$").test(value)){
						return '用户名不能有特殊字符';
					}
				    if (value.length < 6) {
				    	return '用户名长度不能少于6位';
				    }
				},
				//既支持上述函数式的方式，也支持下述数组的形式
				//数组的两个值分别代表：[正则匹配、匹配不符时的提示文字]
				pass: [/^[\S]{6,12}$/, '密码必须6到12位，且不能出现空格'],
				mandatoryfieldEmail: function(value, item) { //邮箱的非必填校验
					if (!new RegExp("(^$)|^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$").test(value)){
						return '邮箱格式不正确';
					}
				}
			});
			
			// 角色组件
			var roleKit = xmSelect.render({
				el: '#role',
				radio: true,
				clickClose: true,
				repeat: true,
				model: {
					label: {
						type: 'block',
						block: {
							//最大显示数量, 0:不限制
							showCount: 0,
							//是否显示删除图标
							showIcon: false
						}
					}
				},
				prop: {
					name: 'roleName',
					value: 'roleId'
				},
				on: function(data) {
					//arr:  当前已选中的数据
					var arr = data.arr;
					//change, 此次选择变化的数据,数组
					var change = data.change;
					//isAdd, 此次操作是新增还是删除
					var isAdd = data.isAdd;
					if (isAdd && arr.length != 0 && arr[0].roleId == 2) {
						// 选择医疗机构管理员角色时加载当前区划及下属医疗机构组织
						loadTree('/organization/tree');
						hideDoctor();
						hideNurse();
					} else if (isAdd && arr.length != 0 && arr[0].roleId == 3) {
						// 选择卫监局角色时加载当前区划及下属卫监局组织
						loadTree('/bureau/tree');
						hideDoctor();
						hideNurse();
					} else if (isAdd && arr.length != 0 && (arr[0].roleId == 4)) {
						// 选择区域管理员角色时加载当前区划下属医疗集团组织
						loadTree('/dept/subTree/' + $('#currentRoleTypeId').text());
						hideDoctor();
						hideNurse();
					} else if (isAdd && arr.length != 0 && arr[0].roleId == 5) {
						// 选择医生角色时加载当前用户所属组织及其下属组织
						loadTree('/dept/tree/city');
						hideNurse();
						showDoctor();
					} else if (isAdd && arr.length != 0 && arr[0].roleId == 6) {
						// 选择护士角色时加载当前用户所属组织及其下属组织
						loadTree('/dept/tree/city');
						hideDoctor();
						showNurse();
					} else if (isAdd && arr.length != 0 && arr[0].roleId == 7) {
						// 选择超级管理员时加载医疗集团根节点
						loadTree('/dept/tree/root');
						hideDoctor();
						hideNurse();
					} else if (isAdd && arr.length != 0 && arr[0].roleId == 8) {
						// 选择区域订单录入员角色时加载当前区划及其下属医疗机构组织
						loadTree('/dept/tree');
						hideDoctor();
						hideNurse();
					} else if (isAdd && arr.length != 0 && arr[0].roleId == 9) {
						// 选择医疗机构订单录入员角色时加载当前用户区划及其下属医疗机构组织
						loadTree('/organization/tree/isLeaf');
						hideDoctor();
						hideNurse();
					}
				}
			});
			
			// 根据当前用户角色加载可操作角色列表
			$.ajax({
				url: '/role/list/' + $('#currentRoleId').text(),
				type: 'GET',
				dataType: 'json',
				success:function(response) {
					var data = response.data;
					roleKit.update({
						data: data,
						autoRow: true
					})
				}
			});
			
			// 根据所选角色及当前用户的可操作范围加载机构树
			var loadTree = function(dataUrl) {
				if (firstRender) {
					dtree.renderSelect({
						elem: '#orgTree',
						url: dataUrl,
						method: 'GET',
						dataStyle: 'layuiStyle',
						width: '100%',
						ficon: ['1', '-1'],
						icon: ['-1', '2'],
						accordion: true,
						menubar: false,
						record: true,
						response: {
							statusCode: 0,
							treeId: 'id',
							title: 'name',
							parentId: 'parentId',
							disabled: 'disabled'
		                }
					});
					firstRender = false;
					$('#organziation').show();
				} else {
					dtree.reload('orgTree', {
						url: dataUrl,
						method: 'GET'
					});
				}
			};
			
			dtree.on("node('orgTree')" ,function(obj) {
				if (obj.param.recordData.area != undefined && obj.param.recordData.area.length != undefined) {
					$('#area').val(obj.param.recordData.area);
				}
				if (obj.param.recordData.city != undefined && obj.param.recordData.city.length != undefined) {
					$('#city').val(obj.param.recordData.city);
				}
				if (obj.param.recordData.province != undefined && obj.param.recordData.province.length != undefined) {
					$('#province').val(obj.param.recordData.province);
				}
				$('#roleTypeId').val(obj.param.nodeId);
            });
			
			// 病人类型
			var patientKit = xmSelect.render({
				el: '#patientType',
				data: [
					{name: '儿童', value: 1},
					{name: '青年', value: 2},
					{name: '老年', value: 3}
				]
			});
			
			// 医生职称类型
			var doctorTitlesKit = xmSelect.render({
				el: '#doctorTitles',
				radio: true,
				clickClose: true,
				repeat: true,
				model: {
					label: {
						type: 'block',
						block: {
							//最大显示数量, 0:不限制
							showCount: 0,
							//是否显示删除图标
							showIcon: false
						}
					}
				},
				data: [
					{name: '执业医师', value: 1},
					{name: '主治医师', value: 2},
					{name: '副主任医师', value: 3},
					{name: '主任医师', value: 4}
				]
			});
			
			// 职称类型
			var nurseTitlesKit = xmSelect.render({
				el: '#nurseTitles',
				radio: true,
				clickClose: true,
				repeat: true,
				model: {
					label: {
						type: 'block',
						block: {
							//最大显示数量, 0:不限制
							showCount: 0,
							//是否显示删除图标
							showIcon: false
						}
					}
				},
				data: [
					{name: '护士', value: 1},
					{name: '护师', value: 2},
					{name: '主管护师', value: 3},
					{name: '副主任护师', value: 4},
					{name: '主任护师', value: 5}
				]
			});
			
			// 手术类型
			var operationKit = xmSelect.render({
				el: '#operationType',
				prop: {
					name: 'operationtypeName',
					value: 'operationtypeId'
				}
			});
			
			// 加载手术类型列表
			$.ajax({
				url: '/operation/list',
				type: 'GET',
				dataType: 'json',
				success:function(response) {
					var data = response.data;
					operationKit.update({
						data: data,
						autoRow: true
					})
				}
			});
			
			// 选择医生角色时显示
			var showDoctor = function() {
				// 控件显示
				$('#doctorEle_part1').show();
				$('#doctorEle_part2').show();
				$('#doctorEle_part3').show();
				$('#doctorAndNurseEle_part1').show();
				$('#doctorAndNurseEle_part2').show();
				$('#doctorAndNurseEle_part3').show();
				
				// 校验规则
				$('#idCard').attr('lay-verify', 'identity');
				$('#certificateNo').attr('lay-verify', 'required');
				$('#occupationalNo').attr('lay-verify', 'required');
			};
			
			// 选择非医生角色隐藏
			var hideDoctor = function() {
				// 清空职称选项卡内容
				doctorTitlesKit.setValue([]);
				// 隐藏
				$('#doctorEle_part1').hide();
				$('#doctorEle_part2').hide();
				$('#doctorEle_part3').hide();
				$('#doctorAndNurseEle_part1').hide();
				$('#doctorAndNurseEle_part2').hide();
				$('#doctorAndNurseEle_part3').hide();
				
				// 移除校验规则
				$('#idCard').removeAttr('lay-verify');
				$('#certificateNo').removeAttr('lay-verify');
				$('#occupationalNo').removeAttr('lay-verify');
			}
			
			// 选择护士角色时显示
			var showNurse = function() {
				$('#nurseEle_part').show();
				$('#doctorAndNurseEle_part1').show();
				$('#doctorAndNurseEle_part2').show();
				$('#doctorAndNurseEle_part3').show();
				
				$('#idCard').attr('lay-verify', 'identity');
				$('#certificateNo').removeAttr('lay-verify');
				$('#occupationalNo').attr('lay-verify', 'required');
			}
			
			// 选择非护士角色隐藏
			var hideNurse = function() {
				nurseTitlesKit.setValue([]);
				$('#nurseEle_part').hide();
				$('#doctorAndNurseEle_part1').hide();
				$('#doctorAndNurseEle_part2').hide();
				$('#doctorAndNurseEle_part3').hide();
				
				// 移除校验规则
				$('#idCard').removeAttr('lay-verify');
				$('#occupationalNo').removeAttr('lay-verify');
			}
			
			//监听提交
			form.on('submit(add)', function (form) {
				var titleLeave = '';
				if ($('#loginPwd').val() != $('#confirm').val()) {
					layer.alert('两次密码输入不一致', {icon: 5});
					return false;
				}
				if (roleKit.getValue('valueStr') == '') {
					layer.alert('请选择角色', {icon: 5});
					return false;
				}
				if ($('#roleTypeId').val() == '') {
					layer.alert('请选择机构', {icon: 5});
					return false;
				}
				/* if (roleKit.getValue('valueStr') == '5') {	// 医生
					if (patientKit.getValue('valueStr') == '') {
						layer.alert('病人类型不能为空', {icon: 5});
						return false;
					}
					if (operationKit.getValue('valueStr') == '') {
						layer.alert('手术类型不能为空', {icon: 5});
						return false;
					}
					form.field.patientType = patientKit.getValue('valueStr');
					form.field.operationType = operationKit.getValue('valueStr');
				} */
				if (roleKit.getValue('valueStr') == '5' && $('#titlesNo').val() != '' && doctorTitlesKit.getValue('valueStr') == '') {
					layer.alert('请选择职称', {icon: 5});
					return false;
				} else if (roleKit.getValue('valueStr') == '6' && $('#titlesNo').val() != '' && nurseTitlesKit.getValue('valueStr') == '') {
					layer.alert('请选择职称', {icon: 5});
					return false;
				}
				/* if ((roleKit.getValue('valueStr') == '5' || roleKit.getValue('valueStr') == '6') && $('#fileName').val() == '') {
					layer.msg('请上传证件照', {icon: 5});
					return false;
				}
				if ((roleKit.getValue('valueStr') == '5' || roleKit.getValue('valueStr') == '6') && !uploadSuc) {
					layer.alert('证件照上传失败', {icon: 5});
					return false;
				} */
				if (roleKit.getValue('valueStr') == '5') {
					titleLeave = doctorTitlesKit.getValue('valueStr');
				} else if (roleKit.getValue('valueStr') == '6') {
					titleLeave = nurseTitlesKit.getValue('valueStr');
				}
				form.field.roleId = roleKit.getValue('valueStr');
				form.field.photo = $('#credential_hide').val();
				form.field.titles = titleLeave;
				$.post('/user', form.field, function (result) {
					handlerResult(result, addDone);
				});
				return false;
            });
			
			//监听提交
			form.on('submit(edit)', function (form) {
				form.field._method = 'PUT';
				form.field.roleId = roleKit.getValue('valueStr');
				$.post('/user', form.field, function (result) {
					handlerResult(result, editDone);
				});
				return false;
			});
			
			function addDone(data) {
				//$('#submitBtn').attr({'disabled': 'disabled'});
				layer.msg('添加成功', {icon: 6});
            }
			
			/*上传图片*/
			upload.render({
				elem: '#preview_img',
				url: '/user/upload',
				acceptMime: 'image/*',
				size: 1024,
				choose: function (obj) {
					// 预读本地文件
					obj.preview(function (index, file, result) {
						$('#fileName').val(file.name); //展示文件名
						$('#colla_img').find('img').remove();
						$('#colla_img').append('<img id="showImg" src="' + result + '" width="370px">');
					})
				},
				done: function (res) {
					if (res.code == '0') {
						$('#credential_hide').val(res.msg);	// 隐藏输入框赋值
						//$('#submitForm').click();	// 上传成功后单击隐藏的提交按钮
						uploadSuc = true;
					} else {
						//layer.msg('上传失败！', {icon: 5});
					}
				},
				error: function (index, upload) {
					//layer.msg('上传失败！' + index, {icon: 5});
				}
			});
			
			// 仅上传图片的按钮点击事件
			/* $('#submitImg').click(function () {
				if ($('#fileName').val() == '') {
					layer.msg('请上传证件照', {icon: 5});
					return false;
				}
				//$(this).attr({'disabled': 'disabled'});
				$('#upload_img').click();	// 单击隐藏的上传按钮
			}); */
			
        });
    </script>
</body>

</html>