/* ----- 滚动条样式 ----- */

::-webkit-scrollbar{width: 8px; height: 8px;background: transparent;}
::-webkit-scrollbar-button:vertical{display: none;}
::-webkit-scrollbar-track, ::-webkit-scrollbar-corner{background-color: #e2e2e2;}
::-webkit-scrollbar-thumb{border-radius: 8px; background-color: #a6a6a6;}
::-webkit-scrollbar-thumb:vertical:hover{background-color: #7f7f7f;}
::-webkit-scrollbar-thumb:vertical:active{background-color: rgba(0,0,0,.38);}

/* ----- 滚动条样式 ----- */

* {
    box-sizing: border-box;
}

/* 加载层样式 */
.page-loading {
    z-index: 9999999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
}

.rubik-loader {
    width: 64px;
    height: 64px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-image: url(/images/loading.gif);
    background-repeat: no-repeat;
    background-position: center;
}

.z-body {
    margin: 30px;
}

.z-admin-carousel, .layui-carousel, .z-admin-carousel > [carousel-item] > * {
    background-color: #fff
}

.z-admin-backlog .z-admin-backlog-body {
    display: block;
    padding: 10px 15px;
    background-color: #f8f8f8;
    color: #999;
    border-radius: 2px;
    transition: all .3s;
    -webkit-transition: all .3s
}

.z-admin-backlog-body h3 {
    padding-bottom: 10px;
    font-size: 12px
}

.z-admin-backlog-body p cite {
    font-style: normal;
    font-size: 30px;
    font-weight: 300;
    color: #009688
}

.z-admin-backlog-body:hover {
    background-color: #CFCFCF;
    color: #888
}

.login-main {
    width: 350px;
    height:400px;
    margin: 100px auto;
    border: 6px solid #e7f3fe;
    border-radius:5px;
    padding: 25px;
    vertical-align: middle;
    background-color: #fff;
    opacity:0.95;
}

.login-main header {
    margin-top: 50px;
    height: 35px;
    line-height: 35px;
    font-size: 24px;
    font-weight: 80;
    text-align: center;
}

.login-main header, .login-main form, .login-main form .layui-input-inline{
    margin-bottom: 15px;
}

.login-main form .layui-input-inline, .login-main form .layui-input-inline input, .login-main form .layui-input-inline button {
    width: 100%;
}

.login-main form .login-btn {
    margin-bottom: 5px;
}

.layui-btn-blue {
    background-color: #02a7f0;
}

/* dtree 下拉树样式 */
.dtree-select {
    position: absolute;
    max-height: 500px;
    height: 350px;
    overflow: auto;
    width: 100%;
    z-index: 123;
    display: none;
    border: 1px solid silver;
    top: 42px;
}

.layui-show {
    display: block !important;
}

.layui-login-oauth-icon {
    width: 25px;
    height: 25px;
    margin-right: 20px;
    cursor: pointer;
}

.layui-login-tips {
    padding: 0 !important;
    line-height: 30px;
    margin-right: 20px;
}


.zadmin-icon {
    cursor: pointer;
}

.zadmin-search-area input {
    height: 32px;
}

.zadmin-oper-area {
    font-size: 18px !important;
    margin-right: 5px;
}

.zadmin-blue {
    color: #1E90FF;
}

.zadmin-red {
    color: #f5222d;
}

.zadmin-green {
    color: #32CD32;
}

.zadmin-orange {
	color: #FFA500;
}

.zadmin-left {
    float: left;
}

.zadmin-right {
    float: right;
}

/*下拉列表高度*/
.layui-form-select dl { max-height:200px; }


.layui-table-cell{
	padding: 0 5px;
}

/*.layui-form-item .layui-input-inline{
	float:left;
 	width: calc(100% - 90px);
 	margin-right:10px
}*/


/* 个人中心页面 */
.user-info-page .user-info{
    position: absolute;
    left: 0;
    width: 210px;
    height: 380px;
    border-right: 1px solid #cccccc;
    padding:9px 20px 0 20px;
}
.user-info-page .user-info .user-avatar-box{
    position: relative;
    margin: 0 auto;
    width: auto;
    height: auto;
    overflow: hidden;
    border: 1px solid #d9dde1;
    cursor: pointer;
}
.user-info-page .user-info .user-avatar-box .user-avatar{
    width: 100%;
    height: 100%;
}
.user-info-page .user-info .user-avatar-box .edit-avatar{
    position: absolute;
	left: 0;
    bottom: -34px;
    width: 100%;
    height: 34px;
    line-height: 34px;
    color: #ffffff;
    text-align: center;
    background-color: rgba(0,0,0,0.6);
    transition: bottom 0.2s;
}
.user-info-page .user-info .user-avatar-box:hover .edit-avatar{
    bottom: 0;
}
.user-info-page .user-info .detail-info{
    margin-top: 14px;
    line-height: 1.8;
    font-size: 16px;
}
.user-info-page .user-info .detail-info li{
    padding-left: 12px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    cursor: default;
}
.user-info-page .user-edit{
    position: absolute;
    left: 230px;
    right: 0;
    height: 380px;
    width: 62%;
}
.user-info-page .canvas-panel{
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: move;
    overflow: hidden;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAA3NCSVQICAjb4U/gAAAABlBMVEXMzMz////TjRV2AAAACXBIWXMAAArrAAAK6wGCiw1aAAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M26LyyjAAAABFJREFUCJlj+M/AgBVhF/0PAH6/D/HkDxOGAAAAAElFTkSuQmCC);
}
.user-info-page .canvas-bg{
    position: absolute;
}
.user-info-page .canvas-shade{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}
.user-info-page .canvas-crop{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 280px;
    height: 280px;
    background-color: #FFFFFF;
    border: 1px solid rgb(40, 121, 255);
    -webkit-transform: translate(-141px, -141px);
    transform: translate(-141px,-141px);
}
.user-info-page .canvas-group{
    position: absolute;
    right: 14px;
    bottom: 10px;
	display: none;
}
.user-info-page .canvas-group .layui-btn-primary:hover{
    opacity: 1;


@keyframes fade {
    from {
        opacity: 1.0;
    }
    50% {
        opacity: 0.4;
    }
    to {
        opacity: 1.0;
    }
}

@-webkit-keyframes fade {
    from {
        opacity: 1.0;
    }
    50% {
        opacity: 0.4;
    }
    to {
        opacity: 1.0;
    }
}

.addBox {
	width:100%;
    height: 150px;
    background-color:white;
    border: 1px dashed #aaa;
    border-radius: 4px;
    text-align: center;
    padding: 25px 0 25px 0;
    cursor: pointer;
}

.addBox:hover{
	animation: fade 600ms infinite;
    -webkit-animation: fade 600ms infinite;

}