<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
    <meta charset="UTF-8">
    <title>部门管理</title>
    <link rel="stylesheet" th:href="@{/lib/layui/css/layui.css}"/>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/animate.min.css}">
    <link rel="stylesheet" th:href="@{/iconfont/iconfont.css}">
    <link rel="stylesheet" th:href="@{/lib/layui/extend/dtree.css}">
    <link rel="stylesheet" th:href="@{/lib/layui/extend/font/dtreefont.css}">
</head>

<style>
    html, body {
        height: 100%;
        margin:0;padding:0;
        font-size: 12px;
    }
    div{
        -moz-box-sizing: border-box;  /*Firefox3.5+*/
        -webkit-box-sizing: border-box; /*Safari3.2+*/
        -o-box-sizing: border-box; /*Opera9.6*/
        -ms-box-sizing: border-box; /*IE8*/
        box-sizing: border-box; /*W3C标准(IE9+，Safari5.1+,Chrome10.0+,Opera10.6+都符合box-sizing的w3c标准语法)*/
    }

    .layui-table-view .layui-table {width:100%}
</style>

<body class="animated fadeIn">
	<span id="userProvince" style="display: none;"><shiro:principal property="province"/></span>
	<span id="userCity" style="display: none;"><shiro:principal property="city"/></span>
	<span id="userArea" style="display: none;"><shiro:principal property="area"/></span>
	<span id="roleTypeId" style="display: none;"><shiro:principal property="roleTypeId"/></span>
	<div class="page-loading">
		<div class="rubik-loader"></div>
	</div>
	<div style="height: 100%">
		<div style="height: 100%">
			<div style="padding: 20px; background-color: #F2F2F2; height: 100%;">
				<div class="layui-row layui-col-space15">
					<div class="layui-col-md3">
						<div class="layui-card">
							<div class="layui-card-header">医疗集团结构</div>
							<div class="layui-card-body" id="toolbarDiv">
								<ul id="deptTree" class="dtree" data-id="0"></ul>
							</div>
						</div>
					</div>
					<div class="layui-col-md9">
						<div class="layui-card">
							<div class="layui-card-header" id="card-header">医疗集团列表</div>
							<div class="layui-card-body">
								<div class="animated fadeIn">
									<label for="deptName" class="layui-form-label">名称</label>
									<div class="layui-inline">
										<input type="text" id="deptName" name="deptName" autocomplete="off"
											class="layui-input">
									</div>
									<button id="search"
										class="layui-btn layui-btn-sm layui-btn-primary table-action">
										<i class="zadmin-icon zadmin-icon-search"></i>
									</button>
									<table class="layui-hide" id="deptTable" lay-filter="test"></table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/html" id="toolbar">
		<shiro:hasPermission name="dept:add">
			<button type="button" id="addDept" class="layui-btn layui-btn-xs layui-btn-normal" lay-event="add">
				<i class="zadmin-icon zadmin-icon-xinzeng zadmin-oper-area"></i>
                新增
			</button>
		</shiro:hasPermission>
	</script>

	<script type="text/html" id="column-toolbar">
		<shiro:hasPermission name="dept:update">
			<a lay-event="edit">
				<i class="zadmin-icon zadmin-icon-edit-square zadmin-oper-area zadmin-blue" title="编辑"></i>
			</a>
		</shiro:hasPermission>

		<shiro:hasPermission name="dept:delete">
			<a lay-event="del">
				<i class="zadmin-icon zadmin-icon-delete zadmin-oper-area zadmin-red" title="删除"></i>
			</a>
		</shiro:hasPermission>

		<shiro:lacksPermission name="dept:update, dept:delete">
			<i class="zadmin-icon zadmin-icon-wuquanxian zadmin-oper-area zadmin-red"></i>无权限
		</shiro:lacksPermission>
    </script>

	<script type="text/html" id="column-toolbar-sort">
		<i class="zadmin-icon zadmin-icon-shangyimian zadmin-oper-area zadmin-blue" lay-event="up" title="上移"></i>

		<i class="zadmin-icon zadmin-icon-xiayimian zadmin-oper-area zadmin-blue" lay-event="down" title="下移"></i>

		<i class="zadmin-icon zadmin-icon-zhidingmian zadmin-oper-area zadmin-blue" lay-event="top" title="置顶"></i>

		<i class="zadmin-icon zadmin-icon-zhidimian zadmin-oper-area zadmin-blue" lay-event="bottom" title="置底"></i>
	</script>

	<script th:src="@{/lib/jquery/jquery.min.js}"></script>
	<script th:src="@{/lib/layui/layui.js}"></script>
	<script th:src="@{/js/common.js}"></script>

	<script>
		var userProvince = $('#userProvince').text() == 'null' ? null : $('#userProvince').text();
		var userCity = $('#userCity').text() == 'null' ? null : $('#userCity').text();
		var userArea = $('#userArea').text() == 'null' ? null : $('#userArea').text();
		var roleTypeId = $('#roleTypeId').text() == 'null' ? null : $('#roleTypeId').text();
		var treeId = 'deptTree';
		var tableId = 'deptTable';
		var parentDeptId = 0;
		var sortNo = 0;
		
		// 获取有没有删除, 更新, 和新增的权限.
		var hasDeptDelete = false;
		var hasDeptUpdate = false;
		var hasDeptAdd = false;
		
		$.get('/security/hasPermission/dept:update', function (data) {
			hasDeptUpdate = data.data;
		});
		$.get('/security/hasPermission/dept:delete', function (data) {
			hasDeptDelete = data.data;
		});
		$.get('/security/hasPermission/dept:add', function (data) {
			hasDeptAdd = data.data;
		});
		
		layui.config({
			base: '/lib/layui/extend/'
		}).extend({
			tableEdit:'tableEdit',  //表格树依赖我另外写的tableEdit模块，本项目就有。
			tableTree:'tableTree'
		}).use(['form', 'table', 'layer', 'dtree', 'tableTree', 'address'], function () {
			var $ = layui.$;
			var form = layui.form;
			var table = layui.table;
			var layer = layui.layer;
			var dtree = layui.dtree;
			var tableTree = layui.tableTree
			var address = layui.address(userProvince, userCity, userArea);
			
			var DTree = dtree.render({
				elem: "#" + treeId,
				url: '/dept/dist/tree',
				dataStyle: "layuiStyle",
				dataFormat: "list",
				initLevel: 2,   // 初始打开节点级别
				method: "GET",
				dot: false,     // 圆点是否显示
				response: {
					statusCode: 0,
					treeId: "id",
					parentId: "parentId",
					title: "name",
					basicData: "institution"
				}
			});
			var treeTable = tableTree.render({
				elem: '#deptTable',
				id:'tableTree',
				url: '/dept/tree',
				height: 'full-150',
				toolbar: '#toolbar', 	//开启头部工具栏，并为其绑定左侧模板
				treeConfig:{ //表格树所需配置
					showField:'name', 	//表格树显示的字段
					treeid:'id', 		//treeid所对应字段的值在表格数据中必须是唯一的，且不能为空。
					treepid:'parentId',	//父级id字段名称
					iconClass:'layui-icon-right', //小图标class样式 窗口图标 layui-icon-layer
					showToolbar: false	//展示工具栏 false不展示 true展示
				},
				cols: [
					[
						{field:'id', hide:true},
						{field:'parentId', hide:true},
					    {field:'name', title: '名称', width:'40%'},
						{field:'provinceName', title:'省', width:'20%'},
						{field:'cityName', title:'市', width:'20%'},
						{field:'operator', title:'操作', align:'center', width:'20%'}
					]
				],
				done:function () {
					treeTable.closeAllTreeNodes();
					treeTable.openTreeNode(1)
				}
			});
			
			dtree.on("node('deptTree')", function (obj) {
				treeTable.reload({
					where: {
						deptId: obj.param.basicData
					}
				});
				$("#deptName").val('');
				$("#card-header").html("[" + obj.param.context + "]的子机构");
			});
			
			// 工具条点击事件
			table.on('toolbar', function (obj) {
				var data = obj.data;
				var event = obj.event;
				if (event === 'add') {
					add();
				}
			});
			
			// 行点击事件 重置密码
			table.on('tool()', function (obj) {
				var data = obj.data;
				var event = obj.event;
				var deptId = '';
				if (event.indexOf('detail') == 0) {
					deptId = event.substr(6);
					layer.open({
						content: "/dept/detail/" + deptId,
						title: "详细信息",
						area: ['70%', '80%'],
						type: 2,
						maxmin: true,
						shadeClose: true
					});
				} else if (event.indexOf('edit') == 0) {
					deptId = event.substr(4);
				} else if (event.indexOf('del') == 0) {
					deptId = event.substr(3);
				}
			});
			
			$('#search').on('click', function () {
            	if ($('#deptName').val() != '') {
            		treeTable.keywordSearch($('#deptName').val()); //关键词搜索树
            	} else {
            		treeTable.reload();
            	}
            });
			
            function add() {
                layer.open({
                    content: "/dept?parentId=" + parentDeptId,
                    title: "添加子节点",
                    area: ['70%', '80%'],
                    type: 2,
                    maxmin: true,
                    shadeClose: true,
                    end: function () {
                        refresh();
                    }
                });
            };

            function swapSort(currentId, swapId) {
                $.post('/dept/swap', {currentId: currentId, swapId: swapId}, function (data) {
                    layer.msg("交换成功");
                    handlerResult(data, function () {
                        refresh();
                    });
                });
            };

            function del(id) {
                layer.confirm("你确定删除数据吗？如果存在下级节点则一并删除！", {icon: 3, title: '提示'},
                    function (index) {
                        $.post('/dept/' + id, {_method: "DELETE"}, function (data) {
                            layer.close(index);
                            handlerResult(data, function () {
                                refresh();
                            });
                        });
                    }, function (index) {
                        layer.close(index);
                    }
                );
            };

            function refresh() {
            	treeTable.reload();
                DTree.menubarMethod().refreshTree();
            };
            
            function edit(id) {
                layer.open({
                    content: '/dept/' + id,
                    title: "编辑",
                    area: ['40%', '85%'],
                    type: 2,
                    maxmin: true,
                    shadeClose: true,
                    end: function () {
                        refresh();
                    }
                });
            };
        });
    </script>
</body>

</html>