<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sc.system.mapper.DeptMapper">

    <resultMap id="BaseResultMap" type="sc.system.model.WebScDept">
        <id column="dept_id" jdbcType="VARCHAR" property="deptId"/>
        <result column="dept_name" jdbcType="VARCHAR" property="deptName"/>
        <result column="parent_id" jdbcType="INTEGER" property="parentId"/>
        <result column="dept_address" jdbcType="VARCHAR" property="deptAddress"/>
        <result column="dept_tel" jdbcType="VARCHAR" property="deptTel"/>
        <result column="leader_name" jdbcType="VARCHAR" property="leaderName"/>
        <result column="leader_tel" jdbcType="VARCHAR" property="leaderTel"/>
        <result column="order_num" jdbcType="INTEGER" property="orderNum"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime"/>
        <result column="province" jdbcType="VARCHAR" property="province"/>
        <result column="city" jdbcType="VARCHAR" property="city"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
    </resultMap>

    <resultMap id="TreeBaseResultMap" type="sc.system.model.WebScDept">
        <id column="dept_id" jdbcType="VARCHAR" property="deptId"/>
        <result column="dept_name" jdbcType="VARCHAR" property="deptName"/>
        <result column="parent_id" jdbcType="INTEGER" property="parentId"/>
        <result column="dept_address" jdbcType="VARCHAR" property="deptAddress"/>
        <result column="dept_tel" jdbcType="VARCHAR" property="deptTel"/>
        <result column="leader_name" jdbcType="VARCHAR" property="leaderName"/>
        <result column="leader_tel" jdbcType="VARCHAR" property="leaderTel"/>
        <result column="order_num" jdbcType="INTEGER" property="orderNum"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime"/>
        <result column="province" jdbcType="VARCHAR" property="province"/>
        <result column="city" jdbcType="VARCHAR" property="city"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <collection property="children" ofType="sc.system.model.WebScDept" select="selectSubTree" column="{parent_id = dept_id}"/>
    </resultMap>
    
    <resultMap id="UnleafTreeBaseResultMap" type="sc.system.model.WebScDept">
        <id column="dept_id" jdbcType="VARCHAR" property="deptId"/>
        <result column="dept_name" jdbcType="VARCHAR" property="deptName"/>
        <result column="parent_id" jdbcType="INTEGER" property="parentId"/>
        <result column="order_num" jdbcType="INTEGER" property="orderNum"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime"/>
        <result column="province" jdbcType="VARCHAR" property="province"/>
        <result column="city" jdbcType="VARCHAR" property="city"/>
        <collection property="children" ofType="sc.system.model.WebScDept" select="selectUnleafSubTree" column="{parent_id = dept_id}"/>
    </resultMap>

    <sql id="Base_Column_List">
        dept_id,
		dept_name,
		parent_id,
		dept_address,
		dept_tel,
		leader_name,
		leader_tel,
		order_num,
		create_time,
		modify_time,
		province,
		city,
		status
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from WSC_DEPT
        where dept_id = #{deptId,jdbcType=VARCHAR}
    </select>
    
    <!-- 根据父节点及区划查询是否已存在医疗集团 -->
    <select id="selectByParentIdAndDistrict" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from WSC_DEPT
        <where>
        	<choose>
        		<when test='parent_id == "0"'>
        			AND parent_id = '0'
        		</when>
        		<otherwise>
        			<choose>
        				<when test="city_code != null and city_code != ''">
        					AND parent_id = #{parent_id} AND province = #{province_code} and city = #{city_code}
        				</when>
        				<otherwise>
        					AND parent_id = #{parent_id} AND province = #{province_code} and city is null
        				</otherwise>
        			</choose>
        		</otherwise>
        	</choose>
        </where>
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from WSC_DEPT
        where dept_id = #{deptId,jdbcType=VARCHAR}
    </delete>

    <insert id="insert" parameterType="sc.system.model.WebScDept"
            useGeneratedKeys="true">
	insert into WSC_DEPT (dept_id, dept_name, parent_id, dept_address,
	dept_tel, leader_name, leader_tel, province, city, order_num,
	create_time, modify_time)
	values (#{deptId,jdbcType=VARCHAR},
	#{deptName,jdbcType=VARCHAR},
	#{parentId,jdbcType=INTEGER},
	#{deptAddress,jdbcType=VARCHAR},
	#{deptTel,jdbcType=VARCHAR},
	#{leaderName,jdbcType=VARCHAR},
	#{leaderTel,jdbcType=VARCHAR},
	#{province,jdbcType=INTEGER}, #{city,jdbcType=INTEGER},
	#{orderNum,jdbcType=INTEGER},
	#{createTime,jdbcType=TIMESTAMP},
	#{modifyTime,jdbcType=TIMESTAMP})
    </insert>

    <update id="updateByPrimaryKey" parameterType="sc.system.model.WebScDept">
        update WSC_DEPT
        set dept_name = #{deptName,jdbcType=VARCHAR},
        	parent_id = #{parentId,jdbcType=VARCHAR},
        	dept_address = #{deptAddress,jdbcType=INTEGER},
        	dept_tel = #{deptTel,jdbcType=INTEGER},
        	leader_name = #{leaderName,jdbcType=INTEGER},
        	leader_tel = #{leaderTel,jdbcType=INTEGER},
        	status = #{status,jdbcType=VARCHAR}
        where dept_id = #{deptId,jdbcType=VARCHAR}
    </update>

    <select id="selectByParentId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from WSC_DEPT
        where parent_id = #{parentId}
        order by dept_id
    </select>
    
    <select id="selectSuperDept" resultMap="BaseResultMap">
        select
          dept_id,
		  dept_name,
		  parent_id
        from WSC_DEPT
        where parent_id = '0'
        limit 1
    </select>

    <select id="selectChildrenIDByPrimaryKey" resultType="java.lang.String">
        select dept_id
        from WSC_DEPT
        where parent_id = #{deptId, jdbcType=VARCHAR}
    </select>

    <select id="selectMaxOrderNum" resultType="int">
        select ifnull(max(order_num), 0)
        from WSC_DEPT
    </select>

    <update id="swapSort">
        UPDATE
            WSC_DEPT AS per
                JOIN
                WSC_DEPT AS next
                ON
                        (per.`dept_id` = #{currentId} AND next.`dept_id` = #{swapId})
                        OR
                        (per.`dept_id` = #{swapId} AND next.`dept_id` = #{currentId})
        SET per.`order_num`  = next.`order_num`,
            next.`order_num` = per.`order_num`
    </update>

	<!-- // 查询当前节点及其所有子节点
		 // 该方法查询当前节点
		 // resultMap="TreeBaseResultMap"递归查询子节点 -->
	<select id="selectTree" resultMap="TreeBaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from WSC_DEPT wd
        <where>
            <choose>
                <when test="dept_id != null and dept_id != ''">
                    and wd.dept_id = #{dept_id}
                </when>
                <otherwise>
                    and wd.parent_id = '0'
                </otherwise>
            </choose>
        </where>
        order by dept_id
    </select>
    
    <!-- // 查询当前节点所有子节点
		 // resultMap="TreeBaseResultMap"递归查询子节点 -->
    <select id="selectSubTree" resultMap="TreeBaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from WSC_DEPT wd
        <where>
            <choose>
                <when test="parent_id != null and parent_id != ''">
                    and wd.parent_id = #{parent_id}
                </when>
                <otherwise>
                    and wd.parent_id = '0'
                </otherwise>
            </choose>
        </where>
        order by dept_id
    </select>
    
    <!-- // 查询当前节点所有子节点
		 // resultMap="TreeBaseResultMap"递归查询子节点 -->
    <select id="selectSuperTree" resultMap="TreeBaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from WSC_DEPT wd
        <where>
            <choose>
                <when test="parent_id != null and parent_id != ''">
                    and wd.parent_id = #{parent_id}
                </when>
                <otherwise>
                    and wd.parent_id = '0'
                </otherwise>
            </choose>
        </where>
        order by dept_id
    </select>
    
    <!-- // 查询当前非叶子节点及其所有非叶子子节点
    	 // 非叶子节点：city == null
		 // 该方法查询当前节点
		 // resultMap="UnleafTreeBaseResultMap"递归查询子节点 -->
	<select id="selectUnleafTree" resultMap="UnleafTreeBaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from WSC_DEPT wd
        <where>
            <choose>
                <when test="dept_id != null and dept_id != ''">
                    and wd.dept_id = #{dept_id} and wd.city is null
                </when>
                <otherwise>
                    and wd.parent_id = '0'
                </otherwise>
            </choose>
        </where>
        order by dept_id
    </select>
    
    <!-- // 查询当前节点所有非叶子子节点
    	 // 非叶子节点：city == null
		 // resultMap="UnleafTreeBaseResultMap"递归查询子节点 -->
    <select id="selectUnleafSubTree" resultMap="UnleafTreeBaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from WSC_DEPT wd
        <where>
            <choose>
                <when test="parent_id != null and parent_id != ''">
                    and wd.parent_id = #{parent_id} and wd.city is null
                </when>
                <otherwise>
                    and wd.parent_id = '0'
                </otherwise>
            </choose>
        </where>
        order by dept_id
    </select>
    
    <select id="countByDist" resultType="java.lang.Integer">
        select count(*)
        from WSC_DEPT
        <where>
        	<choose>
     			<when test="city_code != null and city_code != ''">
     				AND province = #{province_code} AND city = #{city_code}
     			</when>
     			<otherwise>
     				<choose>
     					<when test="province_code != null and province_code != ''">
     						AND province = #{province_code} AND city is null
						</when>
						<otherwise>
							AND parent_id = '0'
						</otherwise>
					</choose>
				</otherwise>
			</choose>
        </where>
    </select>
    <!-- <select id="countByDist" resultType="java.lang.Integer">
        select count(*)
        from WSC_DEPT
        <where>
        	<choose>
				<when test="province_code != null and province_code != ''">
					AND province = #{province_code} AND city is null
				</when>
				<otherwise>
					AND parent_id = '0'
				</otherwise>
			</choose>
        </where>
    </select> -->
    
    <select id="countByName" resultType="java.lang.Integer">
        select count(*)
        from WSC_DEPT
        <where>
        	<if test="dept_id != null and dept_id != ''">
        		AND dept_id != #{dept_id}
        	</if>
        	AND dept_name = #{dept_name}
        </where>
    </select>
    
</mapper>