<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sc.system.mapper.OperativeMapper">
  <resultMap id="BaseResultMap" type="sc.system.model.WebScOperative">
    <id column="operative_id" jdbcType="VARCHAR" property="operativeId" />
    <result column="operative_name" jdbcType="VARCHAR" property="operativeName" />
    <result column="urgenttime" jdbcType="INTEGER" property="urgenttime" />
  </resultMap>
  
  <select id="getWebScOperativeList" parameterType="java.lang.String" resultMap="BaseResultMap">
  	select operative_id,
  		   operative_name,
  		   urgenttime
  	from WSC_OPERATIVE 
  	where 1=1 
  	<if test="operativeName != null">
  		and operative_name like concat(#{operativeName,jdbcType=VARCHAR}, '%')
 	</if>
  </select>
  
  <select id="selectOnPage" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select operative_id,
  		   operative_name
    from WSC_OPERATIVE wo
    <where>
    	<choose>
    		<when test="operative.operativeName != null and operative.operativeName != ''">
    			AND wo.operative_name like CONCAT('%', #{operative.operativeName, jdbcType=VARCHAR}, '%')
    		</when>
    		<otherwise>
    			1 = 1
    		</otherwise>
    	</choose>
    </where>
    order by operative_id asc
  </select>
  
  <insert id="insert" parameterType="sc.system.model.WebScOperative" >
    insert into WSC_OPERATIVE (operative_id, operative_name, urgenttime)
    values (#{operativeId,jdbcType=VARCHAR}, #{operativeName,jdbcType=VARCHAR}, #{urgenttime,jdbcType=INTEGER})
  </insert>
  
  <update id="updateByPrimaryKey" parameterType="sc.system.model.WebScOperative" >
    update WSC_OPERATIVE
    set operative_name = #{operativeName,jdbcType=VARCHAR},
      urgenttime = #{urgenttime,jdbcType=INTEGER}
    where operative_id = #{operativeId,jdbcType=VARCHAR}
  </update>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from WSC_OPERATIVE
    where operative_id = #{operativeId,jdbcType=VARCHAR}
  </delete>
  
  <select id="countByName" resultType="java.lang.Integer">
    select count(*)
    from WSC_OPERATIVE
    where operative_name = #{operativeName}
  </select>

  <select id="countByNameNotIncludeId" resultType="java.lang.Integer">
    select count(*)
    from WSC_OPERATIVE
    where operative_name = #{operativeName}
    and operative_id != #{operativeId}
  </select>
</mapper>