<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sc.system.mapper.OrganizationMapper">

	<resultMap id="BaseResultMap" type="sc.system.model.WebScOrganization">
	<id column="org_id" jdbcType="VARCHAR" property="orgId"/>
        <result column="org_pid" jdbcType="VARCHAR" property="orgPid"/>
        <result column="root_id" jdbcType="VARCHAR" property="rootId"/>
        <result column="credentials" jdbcType="VARCHAR" property="credentials"/>
        <result column="narcotic_card" jdbcType="VARCHAR" property="narcoticCard"/>
        <result column="leaf" jdbcType="INTEGER" property="leaf"/>
        <result column="org_name" jdbcType="INTEGER" property="orgName"/>
        <result column="org_address" jdbcType="INTEGER" property="orgAddress"/>
        <result column="org_tel" jdbcType="TIMESTAMP" property="orgTel"/>
        <result column="leader_name" jdbcType="TIMESTAMP" property="leaderName"/>
        <result column="leader_tel" jdbcType="TIMESTAMP" property="leaderTel"/>
        <result column="province" jdbcType="VARCHAR" property="province"/>
        <result column="city" jdbcType="VARCHAR" property="city"/>
        <result column="area" jdbcType="VARCHAR" property="area"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
    </resultMap>
    
    <resultMap id="TreeBaseResultMap" type="sc.system.model.WebScOrganization">
    	<id column="org_id" jdbcType="VARCHAR" property="orgId"/>
        <result column="org_pid" jdbcType="VARCHAR" property="orgPid"/>
        <result column="root_id" jdbcType="VARCHAR" property="rootId"/>
        <result column="credentials" jdbcType="VARCHAR" property="credentials"/>
        <result column="narcotic_card" jdbcType="VARCHAR" property="narcoticCard"/>
        <result column="leaf" jdbcType="INTEGER" property="leaf"/>
        <result column="org_name" jdbcType="INTEGER" property="orgName"/>
        <result column="org_address" jdbcType="INTEGER" property="orgAddress"/>
        <result column="org_tel" jdbcType="TIMESTAMP" property="orgTel"/>
        <result column="leader_name" jdbcType="TIMESTAMP" property="leaderName"/>
        <result column="leader_tel" jdbcType="TIMESTAMP" property="leaderTel"/>
        <result column="province" jdbcType="VARCHAR" property="province"/>
        <result column="city" jdbcType="VARCHAR" property="city"/>
        <result column="area" jdbcType="VARCHAR" property="area"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <collection property="children" ofType="sc.system.model.WebScOrganization" select="selectSubTree" column="{org_pid = org_id}"/>
    </resultMap>
    
    <sql id="Base_Column_List">
        org_id,
		org_pid,
		root_id,
		credentials,
		narcotic_card,
		leaf,
		org_name,
		org_address,
		org_tel,
		leader_name,
		leader_tel,
		province,
		city,
		area,
		status
    </sql>
    
    <select id="selectByPrimaryKey" parameterType="sc.system.model.WebScOrganization" resultMap="BaseResultMap">
        select
         wo.org_id,
         wo.org_pid,
         wo.root_id,
         wo.credentials,
         wo.narcotic_card,
         wo.leaf,
         wo.org_name,
         wo.org_address,
         wo.org_tel,
         wo.leader_name,
         wo.leader_tel,
         wo.province,
         wo.city,
         wo.area,
         wo.status,
         rootOrg.org_name as rootName
        from WSC_ORGANIZATION wo left join WSC_ORGANIZATION rootOrg on wo.root_id = rootOrg.org_id
        where wo.org_id = #{orgId,jdbcType=VARCHAR}
        
    </select>
    
    <select id="getList" parameterType="sc.system.model.WebScOrganization" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from WSC_ORGANIZATION where leaf = 1
    </select>
    
    <select id="selectRoot" parameterType="sc.system.model.WebScOrganization" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from WSC_ORGANIZATION where org_pid = '0'
        order by org_id
    </select>
    
    <select id="selectRootById" parameterType="java.lang.String" resultType="java.lang.String">
        select
        root_id
        from WSC_ORGANIZATION where org_id = #{org_id,jdbcType=VARCHAR}
    </select>
    
    <!-- <select id="selectAll" parameterType="sc.system.model.WebScOrganization" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from WSC_ORGANIZATION
    </select> -->
    
    <!-- <select id="selectAll" parameterType="sc.system.model.WebScOrganization" resultMap="BaseResultMap">
	    select 
		    org.org_id,
			org.org_pid,
			org.credentials,
			org.leaf,
			org.org_name,
			org.org_address,
			org.org_tel,
			org.leader_name,
			org.leader_tel,
			org.province,
			org.city,
			org.area,
			rootOrg.org_name as porgName
		from
	        (select
	        <include refid="Base_Column_List"/>
	        from WSC_ORGANIZATION
	        <where>
	        	卫监局管理员只能查看具有麻醉资质的医疗机构
	        	<if test="bureau">
	        		AND credentials = '1'
	        	</if>
	        	医疗机构管理员查看所属机构下的医疗机构
	        	<if test="orgPid != null and orgPid != ''">
	        		AND org_pid = #{orgPid}
	        	</if>
	        	<choose>
	        		当前用户所在行政区划范围
	        		<when test="areaCode != null and areaCode != ''">
	        			AND area = #{areaCode} AND leaf = 1
	        		</when>
	        		<otherwise>
	        			<choose>
	        				<when test="cityCode != null and cityCode != ''">
	        					AND city = #{cityCode} AND leaf = 1
	        				</when>
	        				<otherwise>
	        					<choose>
	        						<when test="provinceCode != null and provinceCode != ''">
	        							AND province = #{provinceCode}  AND leaf = 1
	        						</when>
	        						<otherwise>
	        							 AND leaf = 1
	        						</otherwise>
	        					</choose>
	        				</otherwise>
	        			</choose>
	        		</otherwise>
	        	</choose>
	        </where>) AS org left join WSC_ORGANIZATION rootOrg on org.org_pid = rootOrg.org_id
	        
	        <where>
	            <if test="wso.orgName != null and wso.orgName != ''">
	                AND org.org_name like CONCAT('%', #{wso.orgName, jdbcType=VARCHAR}, '%')
	            </if>
	            <if test="wso.province != null and wso.province != ''">
	                AND org.province = #{wso.province}
	            </if>
	            <if test="wso.city != null and wso.city != ''">
	                AND org.province = #{wso.city}
	            </if>
	            <if test="wso.area != null and wso.area != ''">
	                AND org.area = #{wso.area}
	            </if>
	        </where>
	        
	        order by org.org_id
    </select> -->
    
    <select id="selectAll" parameterType="sc.system.model.WebScOrganization" resultMap="BaseResultMap">
	    select 
		    org.org_id,
			org.org_pid,
			org.credentials,
			org.narcotic_card,
			org.leaf,
			org.org_name,
			org.org_address,
			org.org_tel,
			org.leader_name,
			org.leader_tel,
			org.province,
			org.city,
			org.area,
			org.status,
			rootOrg.org_name as rootName
		from
	        (select
	        <include refid="Base_Column_List"/>
	        from WSC_ORGANIZATION
	        <where>
	        	<!-- 卫监局管理员只能查看具有麻醉资质的医疗机构 -->
	        	<if test="bureau">
	        		AND credentials = '1'
	        	</if>
	        	<choose>
	        		<!-- 医疗机构管理员角色查看当前医疗机构下的机构 -->
	        		<when test="orgRole">
	        			<choose>
	        				<!-- 非叶子节点的医疗机构管理员 -->
	        				<when test="root_id != null and root_id != ''">
	        					AND root_id = #{root_id}
	        					<choose>
	        						<!-- 当前用户所在行政区划范围 -->
					        		<when test="user.area != null and user.area != ''">
					        			AND area = #{user.area} AND leaf = 1
					        		</when>
					        		<otherwise>
					        			<choose>
					        				<when test="user.city != null and user.city != ''">
					        					AND city = #{user.city} AND leaf = 1
					        				</when>
					        				<otherwise>
					        					<choose>
					        						<when test="user.province != null and user.province != ''">
					        							AND province = #{user.province}  AND leaf = 1
					        						</when>
					        						<otherwise>
					        							 AND leaf = 1
					        						</otherwise>
					        					</choose>
					        				</otherwise>
					        			</choose>
					        		</otherwise>
	        					</choose>
	        				</when>
	        				<otherwise>
	        					AND org_id = #{user.roleTypeId}
	        				</otherwise>
	        			</choose>
	        		</when>
	        		<otherwise>
	        			<choose>
			        		<when test="user.area != null and user.area != ''">
			        			AND area = #{user.area} AND leaf = 1
			        		</when>
			        		<otherwise>
			        			<choose>
			        				<when test="user.city != null and user.city != ''">
			        					AND city = #{user.city} AND leaf = 1
			        				</when>
			        				<otherwise>
			        					<choose>
			        						<when test="user.province != null and user.province != ''">
			        							AND province = #{user.province}  AND leaf = 1
			        						</when>
			        						<otherwise>
			        							 AND leaf = 1
			        						</otherwise>
			        					</choose>
			        				</otherwise>
			        			</choose>
			        		</otherwise>
	        			</choose>
	        		</otherwise>
	        	</choose>
	        	
	        </where>) AS org left join WSC_ORGANIZATION rootOrg on org.root_id = rootOrg.org_id
	        
	        <where>
	            <if test="wso.orgName != null and wso.orgName != ''">
	                AND org.org_name like CONCAT('%', #{wso.orgName, jdbcType=VARCHAR}, '%')
	            </if>
	            <if test="wso.province != null and wso.province != ''">
	                AND org.province = #{wso.province}
	            </if>
	            <if test="wso.city != null and wso.city != ''">
	                AND org.city = #{wso.city}
	            </if>
	            <if test="wso.area != null and wso.area != ''">
	                AND org.area = #{wso.area}
	            </if>
	        </where>
	        
	        order by org.org_id
    </select>
    
    <insert id="insert" parameterType="sc.system.model.WebScOrganization" >
        insert into WSC_ORGANIZATION (org_id, org_pid, root_id, credentials, narcotic_card, leaf, org_name, org_address, org_tel, leader_name, leader_tel, province, city, area)
        values (#{orgId,jdbcType=VARCHAR}, #{orgPid,jdbcType=VARCHAR}, #{rootId,jdbcType=VARCHAR}, #{credentials,jdbcType=VARCHAR}, #{narcoticCard,jdbcType=VARCHAR}, #{leaf,jdbcType=INTEGER}, #{orgName,jdbcType=VARCHAR}, #{orgAddress,jdbcType=VARCHAR}, #{orgTel,jdbcType=VARCHAR},
        		#{leaderName,jdbcType=VARCHAR},#{leaderTel,jdbcType=VARCHAR},#{province,jdbcType=VARCHAR},#{city,jdbcType=VARCHAR},#{area,jdbcType=VARCHAR})
    </insert>
    
    <update id="updateByPrimaryKey" parameterType="sc.system.model.WebScMenu">
        update WSC_ORGANIZATION
        set org_pid = #{orgPid,jdbcType=VARCHAR},
        	credentials = #{credentials,jdbcType=VARCHAR},
        	narcotic_card = #{narcoticCard,jdbcType=VARCHAR},
        	org_name = #{orgName,jdbcType=VARCHAR},
        	org_address = #{orgAddress,jdbcType=VARCHAR},
        	org_tel = #{orgTel,jdbcType=VARCHAR},
        	leader_name = #{leaderName,jdbcType=VARCHAR},
        	leader_tel = #{leaderTel,jdbcType=VARCHAR},
        	province = #{province,jdbcType=VARCHAR},
        	city = #{city,jdbcType=VARCHAR},
        	area = #{area,jdbcType=VARCHAR},
        	status = #{status,jdbcType=VARCHAR}
        where org_id = #{orgId,jdbcType=VARCHAR}
    </update>
    
	<!-- // 查询当前节点及其所有子节点
		 // 该方法查询当前节点
		 // resultMap="TreeBaseResultMap1111"递归查询子节点 -->
    <select id="selectAllTree" resultMap="TreeBaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from WSC_ORGANIZATION wo
        <where>
            <choose>
                <when test="org_id != null and org_id != ''">
                    AND wo.org_id = #{org_id}
                </when>
                <otherwise>
                	<choose>
                		<when test="area_code != null and area_code != ''">
                			AND wo.area = #{area_code} AND wo.leaf = 0
                		</when>
                		<otherwise>
                			<choose>
		                		<when test="city_code != null and city_code != ''">
		                			AND wo.city = #{city_code} AND wo.area is null
		                		</when>
		                		<otherwise>
		                			<choose>
		                				<when test="province_code != null and province_code != ''">
				                			AND wo.province = #{province_code} AND wo.city is null
				                		</when>
				                		<otherwise>
				                			AND wo.province is null
				                		</otherwise>
		                			</choose>
		                		</otherwise>
		                	</choose>
                		</otherwise>
                	</choose>
                </otherwise>
            </choose>
        </where>
        order by org_id
    </select>
    
    <!-- 根据用户权限获取医疗机构叶子节点 -->
    <select id="selectAllLeaf" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from WSC_ORGANIZATION wo
        <where>
            <choose>
                <when test="org_id != null and org_id != ''">
                    AND wo.root_id = #{org_id}
                    <choose>
                    	<when test="area_code != null and area_code != ''">
                    		AND wo.area = #{area_code} AND wo.leaf = 1
                    	</when>
                    	<otherwise>
                			<choose>
		                		<when test="city_code != null and city_code != ''">
		                			AND wo.city = #{city_code} AND wo.leaf = 1
		                		</when>
		                		<otherwise>
		                			<choose>
		                				<when test="province_code != null and province_code != ''">
				                			AND wo.province = #{province_code} AND wo.leaf = 1
				                		</when>
				                		<otherwise>
				                			AND wo.leaf = 1
				                		</otherwise>
		                			</choose>
		                		</otherwise>
		                	</choose>
                		</otherwise>
                    </choose>
                </when>
                <otherwise>
                	<choose>
                		<when test="area_code != null and area_code != ''">
                			AND wo.area = #{area_code} AND wo.leaf = 1
                		</when>
                		<otherwise>
                			<choose>
		                		<when test="city_code != null and city_code != ''">
		                			AND wo.city = #{city_code} AND wo.leaf = 1
		                		</when>
		                		<otherwise>
		                			<choose>
		                				<when test="province_code != null and province_code != ''">
				                			AND wo.province = #{province_code} AND wo.leaf = 1
				                		</when>
				                		<otherwise>
				                			AND wo.leaf = 1
				                		</otherwise>
		                			</choose>
		                		</otherwise>
		                	</choose>
                		</otherwise>
                	</choose>
                </otherwise>
            </choose>
        </where>
        order by org_id
    </select>
    
    <!-- // 查询当前节点的子节点
		 // resultMap="TreeBaseResultMap1111"递归查询子节点 -->
	<select id="selectSubTree" resultMap="TreeBaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from WSC_ORGANIZATION wo
        <where>
            <choose>
                <when test="org_pid != null and org_pid != ''">
                    and wo.org_pid = #{org_pid}
                </when>
                <otherwise>
                    and wo.org_pid = '0'
                </otherwise>
            </choose>
        </where>
        order by org_id
    </select>
    
    <select id="selectByParentIdAndDistrict" resultMap="TreeBaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from WSC_ORGANIZATION wo
        <where>
        	wo.org_pid = #{org_pid} and wo.province = #{province_code}
            <choose>
                <when test="city_code != null and city_code != ''">
					AND wo.city = #{city_code}
					<choose>
						<when test="area_code != null and area_code != ''">
							AND wo.area = #{area_code} AND wo.leaf = 0
						</when>
						<otherwise>
							AND wo.area is null
						</otherwise>
					</choose>
				</when>
				<otherwise>
					AND wo.city is null
				</otherwise>
            </choose>
        </where>
        order by org_id
    </select>
    
    <!-- 根据用户角色及区划获取医疗机构列表 -->
    <select id="selectListByAuthData2" resultMap="BaseResultMap">
        select 
        da.org_id,
		da.org_pid,
		da.root_id,
		da.credentials,
		da.narcotic_card,
		da.leaf,
		da.org_name,
		da.org_address,
		da.org_tel,
		da.leader_name,
		da.leader_tel,
		da.province,
		da.city,
		da.area
        
        from 
        
        (select
        <include refid="Base_Column_List" />
        from WSC_ORGANIZATION wo
        <where>
        	<choose>
        		<!-- 医疗机构管理员 -->
        		<when test="root_id != null and root_id != ''">
        			AND wo.root_id = #{root_id}
        			<!-- 子查询中的区划指当前用户的所属区划 -->
        			<choose>
        				<when test="user_province_code != null and user_province_code != ''">
        					<choose>
        						<when test="user_city_code != null and user_city_code != ''">
        							<choose>
        								<when test="user_area_code != null and user_area_code != ''">
        									AND wo.province = #{user_province_code} AND wo.city = #{user_city_code} AND wo.area = #{user_area_code} AND wo.leaf = 1
        								</when>
        								<otherwise>
        									AND wo.province = #{user_province_code} AND wo.city = #{user_city_code} AND wo.leaf = 1
        								</otherwise>
        							</choose>
        						</when>
        						<otherwise>
        							AND wo.province = #{user_province_code} AND wo.leaf = 1
        						</otherwise>
        					</choose>
        				</when>
        				<otherwise>
        					AND wo.leaf = 1
        				</otherwise>
        			</choose>
        		</when>
        		<otherwise>
        			<choose>
        				<!-- 卫监局角色 -->
        				<when test="bureau">
        					<choose>
		        				<when test="user_province_code != null and user_province_code != ''">
		        					<choose>
		        						<when test="user_city_code != null and user_city_code != ''">
		        							<choose>
		        								<when test="user_area_code != null and user_area_code != ''">
		        									AND wo.province = #{user_province_code} AND wo.city = #{user_city_code} AND wo.area = #{user_area_code} AND wo.credentials = '1' AND wo.leaf = 1
		        								</when>
		        								<otherwise>
		        									AND wo.province = #{user_province_code} AND wo.city = #{user_city_code} AND wo.credentials = '1' AND wo.leaf = 1
		        								</otherwise>
		        							</choose>
		        						</when>
		        						<otherwise>
		        							AND wo.province = #{user_province_code} AND wo.credentials = '1' AND wo.leaf = 1
		        						</otherwise>
		        					</choose>
		        				</when>
		        				<otherwise>
		        					AND wo.credentials = '1' AND wo.leaf = 1
		        				</otherwise>
		        			</choose>
        				</when>
        				<!-- 超级管理员或者区域管理员角色 -->
        				<otherwise>
        					<choose>
		        				<when test="user_province_code != null and user_province_code != ''">
		        					<choose>
		        						<when test="user_city_code != null and user_city_code != ''">
		        							AND wo.province = #{user_province_code} AND wo.city = #{user_city_code} AND wo.leaf = 1
		        						</when>
		        						<otherwise>
		        							AND wo.province = #{user_province_code} AND wo.leaf = 1
		        						</otherwise>
		        					</choose>
		        				</when>
		        				<otherwise>
		        					AND wo.leaf = 1
		        				</otherwise>
		        			</choose>
        				</otherwise>
        			</choose>
        		</otherwise>
        	</choose>
        </where>) AS da
        
        <where>
            <if test="wso.orgName != null and wso.orgName != ''">
                AND da.org_name like CONCAT('%', #{wso.orgName, jdbcType=VARCHAR}, '%')
            </if>
            <if test="wso.province != null and wso.province != ''">
                AND da.province = #{wso.province}
            </if>
            <if test="wso.city != null and wso.city != ''">
                AND da.province = #{wso.city}
            </if>
            <if test="wso.area != null and wso.area != ''">
                AND da.area = #{wso.area}
            </if>
        </where>
        order by da.org_id
    </select>
    
    
    <select id="selectListByAuthData" resultMap="BaseResultMap">
        select 
        da.org_id,
		da.org_pid,
		da.root_id,
		da.credentials,
		da.narcotic_card,
		da.leaf,
		da.org_name,
		da.org_address,
		da.org_tel,
		da.leader_name,
		da.leader_tel,
		da.province,
		da.city,
		da.area
        
        from 
        
        (select
        <include refid="Base_Column_List" />
        from WSC_ORGANIZATION wo
        <where>
        	<if test="root_id != null and root_id != ''">
     			AND wo.root_id = #{root_id}
     		</if>
        	<choose>
        		<when test="bureau">
        			<choose>
        				<when test="user_area_code != null and user_area_code != ''">
      						AND wo.area = #{user_area_code} AND wo.leaf = 1 AND wo.credentials = '1'
      					</when>
      					<otherwise>
      						<choose>
      							<when test="user_city_code != null and user_city_code != ''">
      								AND wo.city = #{user_city_code} AND wo.leaf = 1 AND wo.credentials = '1'
      							</when>
      							<otherwise>
      								<choose>
      									<when test="user_province_code != null and user_province_code != ''">
      										AND wo.province = #{user_province_code} AND wo.leaf = 1 AND wo.credentials = '1'
      									</when>
      									<otherwise>
      										AND wo.leaf = 1 AND wo.credentials = '1'
      									</otherwise>
      								</choose>
      							</otherwise>
      						</choose>
      					</otherwise>
        			</choose>
        		</when>
        		<otherwise>
        			<choose>
        				<when test="user_area_code != null and user_area_code != ''">
      						AND wo.area = #{user_area_code} AND wo.leaf = 1
      					</when>
      					<otherwise>
      						<choose>
      							<when test="user_city_code != null and user_city_code != ''">
      								AND wo.city = #{user_city_code} AND wo.leaf = 1
      							</when>
      							<otherwise>
      								<choose>
      									<when test="user_province_code != null and user_province_code != ''">
      										AND wo.province = #{user_province_code} AND wo.leaf = 1
      									</when>
      									<otherwise>
      										AND wo.leaf = 1
      									</otherwise>
      								</choose>
      							</otherwise>
      						</choose>
      					</otherwise>
        			</choose>
        		</otherwise>
        	</choose>
        </where>) AS da
        
        <where>
            <if test="wso.orgName != null and wso.orgName != ''">
                AND da.org_name like CONCAT('%', #{wso.orgName, jdbcType=VARCHAR}, '%')
            </if>
            <if test="wso.province != null and wso.province != ''">
                AND da.province = #{wso.province}
            </if>
            <if test="wso.city != null and wso.city != ''">
                AND da.province = #{wso.city}
            </if>
            <if test="wso.area != null and wso.area != ''">
                AND da.area = #{wso.area}
            </if>
        </where>
        order by da.org_id
    </select>
    
    <select id="countByName" resultType="java.lang.Integer">
        select count(*)
        from WSC_ORGANIZATION
        <where>
        	<if test="org_id != null and org_id != ''">
        		org_id != #{org_id}
        	</if>
        	AND org_name = #{org_name}
        </where>
    </select>
    
</mapper>