<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sc.system.mapper.QaTeamMapper">

	<resultMap id="BaseResultMap" type="sc.system.model.WebScUser">
		<id column="org_id" jdbcType="VARCHAR" property="orgId"/>
        <result column="org_pid" jdbcType="VARCHAR" property="orgPid"/>
        <result column="org_name" jdbcType="INTEGER" property="orgName"/>
        <result column="org_address" jdbcType="INTEGER" property="orgAddress"/>
        <result column="org_tel" jdbcType="TIMESTAMP" property="orgTel"/>
        <result column="leader_name" jdbcType="TIMESTAMP" property="leaderName"/>
        <result column="leader_tel" jdbcType="TIMESTAMP" property="leaderTel"/>
        <result column="province" jdbcType="VARCHAR" property="province"/>
        <result column="city" jdbcType="VARCHAR" property="city"/>
        <result column="area" jdbcType="VARCHAR" property="area"/>
    </resultMap>
    
    <select id="getQaTeamInfo" parameterType="java.lang.String" resultMap="BaseResultMap">
    	select wu.user_id,
			   wu.user_name,
		   	   wu.sex,
			   wu.age,
			   wu.role_id 
		from WSC_QATEAM wq 
		left join WSC_USER wu on wq.user_id = wu.user_id 
		where wq.team_id = #{qaTeamId,jdbcType=VARCHAR}
		order by wu.role_id  
    </select>
    
    <delete id="deleteQaUser" parameterType="java.util.Map">
    	delete from WSC_QATEAM where team_id = #{documentId,jdbcType=VARCHAR} and user_id = #{userId,jdbcType=VARCHAR}
    </delete>
    
    <insert id="insertQaUser" parameterType="java.util.Map">
    	insert into WSC_QATEAM(team_id, user_id, role_id) values(#{documentId,jdbcType=VARCHAR},#{userId,jdbcType=NUMERIC},#{roleId,jdbcType=VARCHAR})
    </insert>
</mapper>