<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sc.system.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="sc.system.model.WebScUser">
        <id column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="login_name" jdbcType="VARCHAR" property="loginName"/>
        <result column="login_pwd" jdbcType="VARCHAR" property="loginPwd"/>
        <result column="salt" jdbcType="VARCHAR" property="salt"/>
        <result column="sex" jdbcType="VARCHAR" property="sex"/>
 		<result column="age" jdbcType="INTEGER" property="age"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="id_card" jdbcType="VARCHAR" property="idCard"/>
       	<result column="certificate_no" jdbcType="VARCHAR" property="certificateNo"/>
        <result column="occupational_no" jdbcType="VARCHAR" property="occupationalNo"/>
        <result column="titles" property="titles" jdbcType="VARCHAR" />
        <result column="titles_no" property="titlesNo" jdbcType="VARCHAR" />
        <result column="work" jdbcType="INTEGER" property="work"/>
        <result column="role_id" jdbcType="VARCHAR" property="roleId"/>
        <result column="role_type_id" jdbcType="VARCHAR" property="roleTypeId"/>
        <result column="province" jdbcType="VARCHAR" property="province"/>
        <result column="city" jdbcType="VARCHAR" property="city"/>
        <result column="area" jdbcType="VARCHAR" property="area"/>
        <result column="patient_type" jdbcType="VARCHAR" property="patientType"/>
        <result column="operation_type" jdbcType="VARCHAR" property="operationType"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="last_login_time" jdbcType="VARCHAR" property="lastLoginTime"/>
        <result column="create_time" jdbcType="VARCHAR" property="createTime"/>
        <result column="modify_time" jdbcType="VARCHAR" property="modifyTime"/>
        <result column="photo" jdbcType="VARCHAR" property="photo" />
        <result column="wxopenid" jdbcType="VARCHAR" property="wxOpenid"/>
        <result column="wxuserId" jdbcType="VARCHAR" property="wxUserid"/>
        <result column="avg_evaluate" jdbcType="FLOAT" property="avgEvaluate"/>
    </resultMap>

    <sql id="Base_Column_List">
      user_id, user_name, login_name, login_pwd, salt, sex, age, phone, email, id_card, 
      certificate_no, occupational_no, titles, titles_no, work, role_id, role_type_id, 
      province, city, area, patient_type, operation_type, status, last_login_time, create_time, 
      modify_time, photo, wx_openid, wx_userid, avg_evaluate
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from WSC_USER
        where user_id = #{userId,jdbcType=VARCHAR}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete
        from WSC_USER
        where user_id = #{userId,jdbcType=VARCHAR}
    </delete>

    <insert id="insert" parameterType="sc.system.model.WebScUser" >
      insert into WSC_USER (user_id, user_name, login_name, 
        login_pwd, salt, sex, 
        age, phone, email, 
        id_card, certificate_no, occupational_no, 
        titles, titles_no, work, 
        role_id, role_type_id, province, 
        city, area, patient_type, 
        operation_type, last_login_time, 
        create_time, modify_time, photo)
      values (#{userId,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{loginName,jdbcType=VARCHAR}, 
        #{loginPwd,jdbcType=VARCHAR}, #{salt,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, 
        #{age,jdbcType=INTEGER}, #{phone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
        #{idCard,jdbcType=VARCHAR}, #{certificateNo,jdbcType=VARCHAR}, #{occupationalNo,jdbcType=VARCHAR}, 
        #{titles,jdbcType=VARCHAR}, #{titlesNo,jdbcType=VARCHAR}, #{work,jdbcType=INTEGER}, 
        #{roleId,jdbcType=VARCHAR}, #{roleTypeId,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, 
        #{city,jdbcType=VARCHAR}, #{area,jdbcType=VARCHAR}, #{patientType,jdbcType=VARCHAR}, 
        #{operationType,jdbcType=VARCHAR}, #{lastLoginTime,jdbcType=TIMESTAMP}, 
        #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP}, #{photo,jdbcType=VARCHAR})
    </insert>
    
    <update id="updateByPrimaryKey" parameterType="sc.system.model.WebScUser">
        update WSC_USER
        <set>
            <if test="userName != null">
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="loginName != null">
                login_name = #{loginName,jdbcType=VARCHAR},
            </if>
            <if test="loginPwd != null">
                login_pwd = #{loginPwd,jdbcType=VARCHAR},
            </if>
            <if test="salt != null">
                salt = #{salt,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                sex = #{sex,jdbcType=VARCHAR},
            </if>
            <if test="age != null">
                age = #{age,jdbcType=INTEGER},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="idCard != null">
                id_card = #{idCard,jdbcType=VARCHAR},
            </if>
            <if test="certificateNo != null">
                certificate_no = #{certificateNo,jdbcType=VARCHAR},
            </if>
            <if test="occupationalNo != null">
                occupational_no = #{occupationalNo,jdbcType=VARCHAR},
            </if>
            <if test="titles != null">
                titles = #{titles,jdbcType=VARCHAR},
            </if>
            <if test="titlesNo != null">
                titles_no = #{titlesNo,jdbcType=VARCHAR},
            </if>
            <if test="work != null" >
                work = #{work,jdbcType=INTEGER},
            </if>
            <if test="roleId != null">
                role_id = #{roleId,jdbcType=VARCHAR},
            </if>
            <if test="roleTypeId != null">
                role_type_id = #{roleTypeId,jdbcType=VARCHAR},
            </if>
            <if test="province != null">
                province = #{province,jdbcType=VARCHAR},
            </if>
            <if test="city != null">
                city = #{city,jdbcType=VARCHAR},
            </if>
            <if test="area != null">
                area = #{area,jdbcType=VARCHAR},
            </if>
            <if test="patientType != null">
                patient_type = #{patientType,jdbcType=VARCHAR},
            </if>
            <if test="operationType != null">
                operation_type = #{operationType,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=VARCHAR},
            </if>
            <if test="photo != null">
                photo = #{photo,jdbcType=VARCHAR},
            </if>
        </set>
        where user_id = #{userId,jdbcType=VARCHAR}
    </update>

    <update id="updateByUser" parameterType="sc.system.model.WebScUser">
        update WSC_USER
		    set login_name = #{loginName,jdbcType=VARCHAR},
		      user_name = #{userName,jdbcType=VARCHAR},
		      sex = #{sex,jdbcType=VARCHAR},
		      age = #{age,jdbcType=INTEGER},
		      phone = #{phone,jdbcType=VARCHAR},
		      email = #{email,jdbcType=VARCHAR},
		      id_card = #{idCard,jdbcType=VARCHAR},
		      certificate_no = #{certificateNo,jdbcType=VARCHAR},
		      occupational_no = #{occupationalNo,jdbcType=VARCHAR},
		      titles = #{titles,jdbcType=VARCHAR},
		      titles_no = #{titlesNo,jdbcType=VARCHAR},
		      work = #{work,jdbcType=INTEGER},
		      role_id = #{roleId,jdbcType=VARCHAR},
		      role_type_id = #{roleTypeId,jdbcType=VARCHAR},
		      province = #{province,jdbcType=VARCHAR},
		      city = #{city,jdbcType=VARCHAR},
		      area = #{area,jdbcType=VARCHAR},
		      patient_type = #{patientType,jdbcType=VARCHAR},
		      operation_type = #{operationType,jdbcType=VARCHAR},
		      photo = #{photo,jdbcType=VARCHAR}
		    where user_id = #{userId,jdbcType=VARCHAR}
    </update>
    
    <select id="selectPermsByLoginName" resultType="String" parameterType="String">
        select menu.perms
        from WSC_USER,
             WSC_ROLE,
             WSC_MENU,
             WSC_ROLE_MENU
        where WSC_USER.role_id = WSC_ROLE.role_id
          and WSC_ROLE.role_id = WSC_ROLE_MENU.role_id
          and WSC_MENU.menu_id = WSC_ROLE_MENU.menu_id
          and WSC_USER.login_name = #{loginname, jdbcType=VARCHAR}
    </select>

    <select id="selectRoleNameByLoginName" resultType="String" parameterType="String">
        select WSC_ROLE.role_name
        from WSC_USER,
             WSC_ROLE
        where WSC_USER.role_id = WSC_ROLE.role_id
          and WSC_USER.login_name = #{loginname,jdbcType=VARCHAR}
    </select>

    <select id="selectOneByLoginName" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from WSC_USER
        where login_name = #{loginname,jdbcType=VARCHAR} limit 1
    </select>


    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from WSC_USER
    </select>

	<select id="selectByRoleTypeId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from WSC_USER
        where role_type_id = #{roleTypeId}
    </select>

    <update id="updateStatusByPrimaryKey">
        update WSC_USER
        set status = #{status}
        where user_id = #{id}
    </update>

    <update id="updateLastLoginTimeByLoginName">
        update WSC_USER
        set last_login_time = current_timestamp
        where login_name = #{loginname}
    </update>

    <select id="countByLoginName" resultType="java.lang.Integer">
        select count(*)
        from WSC_USER
        where login_name = #{loginname}
    </select>

    <select id="countByLoginNameNotIncludeUserId" resultType="java.lang.Integer">
        select count(*)
        from WSC_USER
        where login_name = #{loginname}
          and user_id != #{userId}
    </select>

    <select id="selectRoleIdsByUserId" resultType="java.lang.Integer">
        select role_id
        from WSC_USER
        where user_id = #{userId}
    </select>

    <select id="count" resultType="java.lang.Integer">
        select count(*)
        from WSC_USER
    </select>

    <select id="selectOperatorPermsByLoginName" resultType="String" parameterType="String">
        select WSC_OPERATOR.perms
        from WSC_USER,
             WSC_ROLE,
             WSC_OPERATOR,
             WSC_ROLE_OPERATOR
        where WSC_USER.role_id = WSC_ROLE.role_id
          and WSC_ROLE.role_id = WSC_ROLE_OPERATOR.role_id
          and WSC_OPERATOR.operator_id = WSC_ROLE_OPERATOR.operator_id
          and WSC_USER.login_name = #{loginname, jdbcType=VARCHAR}
    </select>

    <update id="updatePasswordByUserId">
        update WSC_USER
        set login_pwd = #{password},
            salt = #{salt}
        where user_id = #{userId}
    </update>

    <select id="selectAllWithGroup" resultMap="BaseResultMap">
        select u.user_id,
				u.user_name,
				u.login_name,
				u.salt,
				u.sex,
				u.age,
				u.phone,
				u.email,
				u.status,
				u.last_login_time,
				u.create_time,
				u.modify_time,
				u.photo,
				u.wx_openid,
				u.wx_userId,
               	r.role_name
        from WSC_USER u
    	left join WSC_ROLE r on u.role_id = r.role_id
        <where>
            <if test="userName != null and userName != ''">
                AND u.user_name like CONCAT(#{userName}, '%')
            </if>
            <if test="phone != null and phone != ''">
                AND u.phone like CONCAT(#{phone}, '%')
            </if>
        </where>
    </select>
    
    <!-- 根据当前用户角色及所属区划查询用户列表 -->
    <select id="selectWithRoleAndDist" resultMap="BaseResultMap">
    	select da.user_id,
    			da.user_id,
				da.user_name,
				da.login_name,
				da.sex,
				da.age,
				da.email,
				DATE_FORMAT(da.create_time, "%Y-%m-%d") as create_time,
				da.status,
				da.role_id,
               	da.role_name
    	from 
	    	(select u.user_id,
					u.user_name,
					u.login_name,
					u.sex,
					u.age,
					u.role_id,
					u.email,
					u.create_time,
					u.status,
	               	r.role_name
	        from WSC_USER u
	    	left join WSC_ROLE r on u.role_id = r.role_id
	    	<where>
	    		<choose>
	    			<!-- 系统管理员 查看所有 -->
	    			<when test="user.role != null and user.role == 'xtgly'">
	    				AND 1 = 1
	    			</when>
	    			<otherwise>
	    				<choose>
	    					<!-- 超级管理员查看 除系统管理员及其他超级管理员之外的用户 -->
	    					<when test="user.role != null and user.role == 'cjgly'">
	    						AND u.user_id = #{user.userId}
	    						OR (u.role_id not in (#{user.adminRoleId,jdbcType=VARCHAR}, #{user.superRoleId,jdbcType=VARCHAR}))
	    					</when>
	    					<otherwise>
	    						<choose>
	    							<!-- 区域管理员 查询自己 同级区划及其下属的卫监局管理员 医疗机构管理员 区域订单录入员 医疗机构订单录入员 下级区划的区域管理员 -->
	    							<!-- 区域管理员的行政区划必有省级，最多到市级 -->
	    							<when test="user.role != null and user.role == 'qygly'">
	    								AND u.user_id = #{user.userId}
	    								<choose>
	    									<when test="user.city != null and user.city != ''">
	    										OR (u.role_id != #{user.deptRoleId} AND u.city = #{user.city})
	    									</when>
	    									<otherwise>
	    										OR (u.role_id != #{user.deptRoleId} AND u.province = #{user.province})
	    										OR u.role_id = #{user.deptRoleId} AND u.city = #{user.city}
	    									</otherwise>
	    								</choose>
	    							</when>
	    							<otherwise>
	    								<choose>
	    									<!-- 医疗机构管理员 查询自己 同级及其下属医疗机构订单录入员 下级医疗机构管理员-->
	    									<when test="user.role != null and user.role == 'yljggly'">
	    										AND u.user_id = #{user.userId}
	    										<choose>
	    											<when test="user.area != null and user.area != ''">
	    												<choose>
	    													<when test="user.leaf != null and user.leaf == 1">
	    														OR (u.role_id = #{user.orgDocRoleId} AND u.role_type_id = #{user.organizationId})
	    													</when>
	    													<otherwise>
	    														OR (u.role_id = #{user.orgDocRoleId} AND u.role_type_id in (select org_id from WSC_ORGANIZATION where root_id = #{user.rootId} and area = #{user.area}))
	    														OR (u.role_id = #{user.organizationRoleId} AND u.role_type_id in (select org_id from WSC_ORGANIZATION where org_pid = #{user.organizationId}))
	    													</otherwise>
	    												</choose>
	    											</when>
	    											<otherwise>
	    												<choose>
	    													<when test="user.city != null and user.city != ''">
	    														OR (u.role_id = #{user.orgDocRoleId} AND u.role_type_id in (select org_id from WSC_ORGANIZATION where root_id = #{user.rootId} and city = #{user.city}))
	    														OR (u.role_id = #{user.organizationRoleId} AND u.role_type_id in (select org_id from WSC_ORGANIZATION where root_id = #{user.rootId} and city = #{user.city} and area is not null))
	    													</when>
	    													<otherwise>
	    														<choose>
	    															<when test="user.province != null and user.province != ''">
	    																OR (u.role_id = #{user.orgDocRoleId} AND u.role_type_id in (select org_id from WSC_ORGANIZATION where root_id = #{user.rootId} and province = #{user.province}))
	    																OR (u.role_id = #{user.organizationRoleId} AND u.role_type_id in (select org_id from WSC_ORGANIZATION where root_id = #{user.rootId} and province = #{user.province} and city is not null))
	    															</when>
	    															<otherwise>
	    																OR (u.role_id = #{user.orgDocRoleId} AND u.role_type_id in (select org_id from WSC_ORGANIZATION where org_id = #{user.organizationId} or root_id = #{user.organizationId}))
	    																OR (u.role_id = #{user.organizationRoleId} AND u.role_type_id in (select org_id from WSC_ORGANIZATION where root_id = #{user.organizationId}))
	    															</otherwise>
	    														</choose>
	    													</otherwise>
	    												</choose>
	    											</otherwise>
	    										</choose>
	    									</when>
	    									<otherwise>
	    										<choose>
	    											<!-- 卫监局管理员 查询自己及其下属卫监局管理员 -->
	    											<when test="user.role != null and user.role == 'wjjgly'">
	    												AND u.user_id = #{user.userId}
	    												<choose>
	    													<when test="user.area != null and user.area != ''">
	    														AND 1 = 1
	    													</when>
	    													<otherwise>
	    														<choose>
	    															<when test="user.city != null and user.city != ''">
	    																OR (u.role_id = #{user.bureauRoleId} AND u.city = #{user.city} AND u.area is not null)
	    															</when>
	    															<otherwise>
	    																<choose>
	    																	<when test="user.province != null and user.province != ''">
	    																		OR (u.role_id = #{user.bureauRoleId} AND u.province = #{user.province} AND u.city is not null)
	    																	</when>
	    																	<otherwise>
	    																		OR (u.role_id = #{user.bureauRoleId} AND u.province is not null)
	    																	</otherwise>
	    																</choose>
	    															</otherwise>
	    														</choose>
	    													</otherwise>
	    												</choose>
	    											</when>
	    											<otherwise>
	    												<!-- 恒不成立 -->
	    												AND 1 = 2
	    											</otherwise>
	    										</choose>
	    									</otherwise>
	    								</choose>
	    							</otherwise>
	    						</choose>
	    					</otherwise>
	    				</choose>
	    			</otherwise>
	    		</choose>
	    	</where>) AS da
    	<where>
    		<!-- 前端查询条件 -->
    		<if test="user.name != null and user.name != ''">
				AND da.user_name like CONCAT('%', #{user.name, jdbcType=VARCHAR}, '%')
			</if>
			<if test="user.searchRole != null and user.searchRole != ''">
				AND da.role_id = #{user.searchRole, jdbcType=VARCHAR}
			</if>
    	</where>
    </select>

    <update id="activeUserByUserId">
        update WSC_USER
        set status = '1'
        where user_id = #{userId}
    </update>
    
    <select id="getDocumentLocalAdminUser" resultMap="BaseResultMap" parameterType="java.lang.String" >
  	select 
	<include refid="Base_Column_List" />
	from WSC_USER wu 
	where wu.role_id = '4' and (wu.province, wu.city) in 
	(
		select wo.province, wo.city
		from WSC_DOCUMENT wd 
		left join WSC_ORGANIZATION wo on wd.org_id = wo.org_id
		where wd.document_id = #{documentId, jdbcType=VARCHAR}
	)
  	</select>
  
  	<select id="getDocumentQaUser" resultMap="BaseResultMap" parameterType="java.lang.String" >
  	select 
  	<include refid="Base_Column_List" />
	from WSC_USER wu 
	where wu.user_id in 
	(
		select wd.qa_user_id
		from WSC_DOCUMENT wd
		where wd.document_id = #{documentId, jdbcType=VARCHAR}
	)
  	</select>
  	
  	<select id="selectDoctors" resultMap="BaseResultMap">
        select
        user_id,
        user_name,
        avg_evaluate
        from WSC_USER
        <where>
        	<choose>
	        	<when test="user.city != null and user.city != ''">
	        		AND city = #{user.city,jdbcType=VARCHAR}
	        	</when>
	        	<otherwise>
	        		<choose>
	        			<when test="user.province != null and user.province != ''">
	        				AND province = #{user.province,jdbcType=VARCHAR}
	        			</when>
	        			<otherwise>
	        				1 = 1
	        			</otherwise>
	        		</choose>
	        	</otherwise>
	        </choose>
	        AND role_id = '5'
	        <if test="name != null and name != ''">
	        	AND user_name like CONCAT('%', #{name, jdbcType=VARCHAR}, '%')
	        </if>
        </where>
    </select>
</mapper>