<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sc.system.mapper.WebScLabelMapper" >
  <resultMap id="BaseResultMap" type="sc.system.model.WebScLabel" >
    <id column="label_id" property="labelId" jdbcType="VARCHAR" />
    <result column="label_name" property="labelName" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="VARCHAR" />
    <result column="label_level" property="labelLevel" jdbcType="CHAR" />
    <result column="leaf" property="leaf" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    label_id, label_name, parent_id, label_level, leaf
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from WSC_LABEL
    where label_id = #{labelId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from WSC_LABEL
    where label_id = #{labelId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="sc.system.model.WebScLabel" >
    insert into WSC_LABEL (label_id, label_name, parent_id, 
      label_level, leaf)
    values (#{labelId,jdbcType=VARCHAR}, #{labelName,jdbcType=VARCHAR}, #{parentId,jdbcType=VARCHAR}, 
      #{labelLevel,jdbcType=CHAR}, #{leaf,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="sc.system.model.WebScLabel" >
    insert into WSC_LABEL
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="labelId != null" >
        label_id,
      </if>
      <if test="labelName != null" >
        label_name,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="labelLevel != null" >
        label_level,
      </if>
      <if test="leaf != null" >
        leaf,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="labelId != null" >
        #{labelId,jdbcType=VARCHAR},
      </if>
      <if test="labelName != null" >
        #{labelName,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="labelLevel != null" >
        #{labelLevel,jdbcType=CHAR},
      </if>
      <if test="leaf != null" >
        #{leaf,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="sc.system.model.WebScLabel" >
    update WSC_LABEL
    <set >
      <if test="labelName != null" >
        label_name = #{labelName,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="labelLevel != null" >
        label_level = #{labelLevel,jdbcType=CHAR},
      </if>
      <if test="leaf != null" >
        leaf = #{leaf,jdbcType=CHAR},
      </if>
    </set>
    where label_id = #{labelId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="sc.system.model.WebScLabel" >
    update WSC_LABEL
    set label_name = #{labelName,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=VARCHAR},
      label_level = #{labelLevel,jdbcType=CHAR},
      leaf = #{leaf,jdbcType=CHAR}
    where label_id = #{labelId,jdbcType=VARCHAR}
  </update>
  
  
  
  
  <select id="selectVote" resultType="sc.system.model.vo.Vote" >
    select 
    parent_id as type,
    label_level as level,
    label_id as label,
    0.00 as ratio,
    0 as value
    from WSC_LABEL
    where leaf = 1 GROUP BY parent_id, label_id ORDER BY parent_id DESC
  </select>
</mapper>