<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sc.system.mapper.WebScDocOperativeMapper" >
  <resultMap id="BaseResultMap" type="sc.system.model.WebScDocOperative" >
    <result column="document_operative_id" property="documentOperativeId" jdbcType="VARCHAR" />
    <result column="document_id" property="documentId" jdbcType="VARCHAR" />
    <result column="operative_id" property="operativeId" jdbcType="VARCHAR" />
    <result column="anesthetic_id" property="anestheticId" jdbcType="VARCHAR" />
    <result column="patient_name" property="patientName" jdbcType="VARCHAR" />
    <result column="patient_age" property="patientAge" jdbcType="INTEGER" />
    <result column="patient_sex" property="patientSex" jdbcType="VARCHAR" />
    <result column="patient_num" property="patientNum" jdbcType="VARCHAR" />
    <result column="patient_bednum" property="patientBednum" jdbcType="VARCHAR" />
    <result column="patienttype_id" property="patienttypeId" jdbcType="VARCHAR" />
    <result column="operationtype_id" property="operationtypeId" jdbcType="VARCHAR" />
    <result column="document_title" property="documentTitle" jdbcType="VARCHAR" />
    <result column="document_type" property="documentType" jdbcType="VARCHAR" />
    <result column="operate_user" property="operateUser" jdbcType="VARCHAR" />
    <result column="operate_aide" property="operateAide" jdbcType="VARCHAR" />
    <result column="apply_user_id" property="applyUserId" jdbcType="VARCHAR" />
    <result column="admin_user_id" property="adminUserId" jdbcType="VARCHAR" />
    <result column="qa_user_id" property="qaUserId" jdbcType="VARCHAR" />
    <result column="qa_team_id" property="qaTeamId" jdbcType="VARCHAR" />
    <result column="org_id" property="orgId" jdbcType="VARCHAR" />
    <result column="hospital_memo" property="hospitalMemo" jdbcType="VARCHAR" />
    <result column="qa_memo" property="qaMemo" jdbcType="VARCHAR" />
    <result column="admin_memo" property="adminMemo" jdbcType="VARCHAR" />
    <result column="memo" property="memo" jdbcType="VARCHAR" />
    <result column="document_state" property="documentState" jdbcType="VARCHAR" />
    <result column="operate_start_time" property="operateStartTime" jdbcType="VARCHAR" />
    <result column="operate_end_time" property="operateEndTime" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="hospital_evaluate" property="hospitalEvaluate" jdbcType="REAL" />
    <result column="hospital_evaluate_memo" property="hospitalEvaluateMemo" jdbcType="VARCHAR" />
    <result column="doctor_evaluate" property="doctorEvaluate" jdbcType="REAL" />
    <result column="doctor_evaluate_memo" property="doctorEvaluateMemo" jdbcType="VARCHAR" />
    <result column="transfer_user_id" property="transferUserId" jdbcType="VARCHAR" />
    <result column="old_document_state" property="oldDocumentState" jdbcType="VARCHAR" />
    <result column="delete_reason" property="deleteReason" jdbcType="VARCHAR" />
    <result column="qx_radio" property="qxRadio" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="sc.system.model.WebScDocOperative" >
    insert into WSC_DOCUMENT_OPERATIVE (document_operative_id, document_id, 
      operative_id, anesthetic_id, patient_name, 
      patient_age, patient_sex, patient_num, 
      patient_bednum, patienttype_id, operationtype_id, 
      document_title, document_type, operate_user, 
      operate_aide, apply_user_id, admin_user_id, 
      qa_user_id, qa_team_id, org_id, 
      hospital_memo, qa_memo, admin_memo, 
      memo, document_state, operate_start_time, 
      operate_end_time, create_date, hospital_evaluate, 
      hospital_evaluate_memo, doctor_evaluate, doctor_evaluate_memo, 
      transfer_user_id, old_document_state, delete_reason, 
      qx_radio)
    values (#{documentOperativeId,jdbcType=VARCHAR}, #{documentId,jdbcType=VARCHAR}, 
      #{operativeId,jdbcType=VARCHAR}, #{anestheticId,jdbcType=VARCHAR}, #{patientName,jdbcType=VARCHAR}, 
      #{patientAge,jdbcType=INTEGER}, #{patientSex,jdbcType=VARCHAR}, #{patientNum,jdbcType=VARCHAR}, 
      #{patientBednum,jdbcType=VARCHAR}, #{patienttypeId,jdbcType=VARCHAR}, #{operationtypeId,jdbcType=VARCHAR}, 
      #{documentTitle,jdbcType=VARCHAR}, #{documentType,jdbcType=VARCHAR}, #{operateUser,jdbcType=VARCHAR}, 
      #{operateAide,jdbcType=VARCHAR}, #{applyUserId,jdbcType=VARCHAR}, #{adminUserId,jdbcType=VARCHAR}, 
      #{qaUserId,jdbcType=VARCHAR}, #{qaTeamId,jdbcType=VARCHAR}, #{orgId,jdbcType=VARCHAR}, 
      #{hospitalMemo,jdbcType=VARCHAR}, #{qaMemo,jdbcType=VARCHAR}, #{adminMemo,jdbcType=VARCHAR}, 
      #{memo,jdbcType=VARCHAR}, #{documentState,jdbcType=VARCHAR}, #{operateStartTime,jdbcType=VARCHAR}, 
      #{operateEndTime,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{hospitalEvaluate,jdbcType=REAL}, 
      #{hospitalEvaluateMemo,jdbcType=VARCHAR}, #{doctorEvaluate,jdbcType=REAL}, #{doctorEvaluateMemo,jdbcType=VARCHAR}, 
      #{transferUserId,jdbcType=VARCHAR}, #{oldDocumentState,jdbcType=VARCHAR}, #{deleteReason,jdbcType=VARCHAR}, 
      #{qxRadio,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="sc.system.model.WebScDocOperative" >
    insert into WSC_DOCUMENT_OPERATIVE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="documentOperativeId != null" >
        document_operative_id,
      </if>
      <if test="documentId != null" >
        document_id,
      </if>
      <if test="operativeId != null" >
        operative_id,
      </if>
      <if test="anestheticId != null" >
        anesthetic_id,
      </if>
      <if test="patientName != null" >
        patient_name,
      </if>
      <if test="patientAge != null" >
        patient_age,
      </if>
      <if test="patientSex != null" >
        patient_sex,
      </if>
      <if test="patientNum != null" >
        patient_num,
      </if>
      <if test="patientBednum != null" >
        patient_bednum,
      </if>
      <if test="patienttypeId != null" >
        patienttype_id,
      </if>
      <if test="operationtypeId != null" >
        operationtype_id,
      </if>
      <if test="documentTitle != null" >
        document_title,
      </if>
      <if test="documentType != null" >
        document_type,
      </if>
      <if test="operateUser != null" >
        operate_user,
      </if>
      <if test="operateAide != null" >
        operate_aide,
      </if>
      <if test="applyUserId != null" >
        apply_user_id,
      </if>
      <if test="adminUserId != null" >
        admin_user_id,
      </if>
      <if test="qaUserId != null" >
        qa_user_id,
      </if>
      <if test="qaTeamId != null" >
        qa_team_id,
      </if>
      <if test="orgId != null" >
        org_id,
      </if>
      <if test="hospitalMemo != null" >
        hospital_memo,
      </if>
      <if test="qaMemo != null" >
        qa_memo,
      </if>
      <if test="adminMemo != null" >
        admin_memo,
      </if>
      <if test="memo != null" >
        memo,
      </if>
      <if test="documentState != null" >
        document_state,
      </if>
      <if test="operateStartTime != null" >
        operate_start_time,
      </if>
      <if test="operateEndTime != null" >
        operate_end_time,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="hospitalEvaluate != null" >
        hospital_evaluate,
      </if>
      <if test="hospitalEvaluateMemo != null" >
        hospital_evaluate_memo,
      </if>
      <if test="doctorEvaluate != null" >
        doctor_evaluate,
      </if>
      <if test="doctorEvaluateMemo != null" >
        doctor_evaluate_memo,
      </if>
      <if test="transferUserId != null" >
        transfer_user_id,
      </if>
      <if test="oldDocumentState != null" >
        old_document_state,
      </if>
      <if test="deleteReason != null" >
        delete_reason,
      </if>
      <if test="qxRadio != null" >
        qx_radio,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="documentOperativeId != null" >
        #{documentOperativeId,jdbcType=VARCHAR},
      </if>
      <if test="documentId != null" >
        #{documentId,jdbcType=VARCHAR},
      </if>
      <if test="operativeId != null" >
        #{operativeId,jdbcType=VARCHAR},
      </if>
      <if test="anestheticId != null" >
        #{anestheticId,jdbcType=VARCHAR},
      </if>
      <if test="patientName != null" >
        #{patientName,jdbcType=VARCHAR},
      </if>
      <if test="patientAge != null" >
        #{patientAge,jdbcType=INTEGER},
      </if>
      <if test="patientSex != null" >
        #{patientSex,jdbcType=VARCHAR},
      </if>
      <if test="patientNum != null" >
        #{patientNum,jdbcType=VARCHAR},
      </if>
      <if test="patientBednum != null" >
        #{patientBednum,jdbcType=VARCHAR},
      </if>
      <if test="patienttypeId != null" >
        #{patienttypeId,jdbcType=VARCHAR},
      </if>
      <if test="operationtypeId != null" >
        #{operationtypeId,jdbcType=VARCHAR},
      </if>
      <if test="documentTitle != null" >
        #{documentTitle,jdbcType=VARCHAR},
      </if>
      <if test="documentType != null" >
        #{documentType,jdbcType=VARCHAR},
      </if>
      <if test="operateUser != null" >
        #{operateUser,jdbcType=VARCHAR},
      </if>
      <if test="operateAide != null" >
        #{operateAide,jdbcType=VARCHAR},
      </if>
      <if test="applyUserId != null" >
        #{applyUserId,jdbcType=VARCHAR},
      </if>
      <if test="adminUserId != null" >
        #{adminUserId,jdbcType=VARCHAR},
      </if>
      <if test="qaUserId != null" >
        #{qaUserId,jdbcType=VARCHAR},
      </if>
      <if test="qaTeamId != null" >
        #{qaTeamId,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null" >
        #{orgId,jdbcType=VARCHAR},
      </if>
      <if test="hospitalMemo != null" >
        #{hospitalMemo,jdbcType=VARCHAR},
      </if>
      <if test="qaMemo != null" >
        #{qaMemo,jdbcType=VARCHAR},
      </if>
      <if test="adminMemo != null" >
        #{adminMemo,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="documentState != null" >
        #{documentState,jdbcType=VARCHAR},
      </if>
      <if test="operateStartTime != null" >
        #{operateStartTime,jdbcType=VARCHAR},
      </if>
      <if test="operateEndTime != null" >
        #{operateEndTime,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="hospitalEvaluate != null" >
        #{hospitalEvaluate,jdbcType=REAL},
      </if>
      <if test="hospitalEvaluateMemo != null" >
        #{hospitalEvaluateMemo,jdbcType=VARCHAR},
      </if>
      <if test="doctorEvaluate != null" >
        #{doctorEvaluate,jdbcType=REAL},
      </if>
      <if test="doctorEvaluateMemo != null" >
        #{doctorEvaluateMemo,jdbcType=VARCHAR},
      </if>
      <if test="transferUserId != null" >
        #{transferUserId,jdbcType=VARCHAR},
      </if>
      <if test="oldDocumentState != null" >
        #{oldDocumentState,jdbcType=VARCHAR},
      </if>
      <if test="deleteReason != null" >
        #{deleteReason,jdbcType=VARCHAR},
      </if>
      <if test="qxRadio != null" >
        #{qxRadio,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>