<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sc.system.mapper.WebScCalendarMapper" >
   <resultMap id="BaseResultMap" type="sc.system.model.WebScCalendar" >
    <result column="calendar_id" property="calendarId" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="memo" property="memo" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithAid" type="sc.system.model.WebScCalendarAid" extends="BaseResultMap">
    <result column="org_name" property="orgName" jdbcType="VARCHAR" />
    <result column="user_name" property="doctorName" jdbcType="VARCHAR" />
    <result column="phone" property="doctorPhone" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    cal.calendar_id, cal.user_id, cal.title, cal.start_time, cal.end_time, cal.memo
  </sql>
  <sql id="Aid_Column_List" >
    rd.org_name, user.user_name, user.phone
  </sql>
  
  <select id="selectWebScCalendarAidsByConditions" resultMap="ResultMapWithAid" parameterType="hashmap">
  	select 
  	distinct
    <include refid="Base_Column_List" />
    ,
    <include refid="Aid_Column_List" />
    from 
    WSC_CALENDAR cal 
    inner join WSC_USER user on user.user_id=cal.user_id 
    left join WSC_RECORD rd on cal.user_id=rd.user_id
    where 
    user.role_id='5'
    and user.city like concat(#{cityPre,jdbcType=VARCHAR},'%')
    and cal.end_time > now()
    <if test="doctorName != null and doctorName != ''" >
    	and user.user_name = #{doctorName,jdbcType=VARCHAR}
    </if>
    <if test="orgName != null and orgName != ''" >
    	and rd.org_name = #{orgName,jdbcType=VARCHAR}
    </if>
    <if test="startDate != null and startDate != ''" >
    	<![CDATA[
    		and end_time >= str_to_date( #{startDate},'%Y-%m-%d %H:%i:%s')
    	]]>
    </if>
    <if test="endDate != null and endDate != ''" >
    	<![CDATA[
    		and cal.start_time <= str_to_date( #{endDate},'%Y-%m-%d %H:%i:%s')
    	]]>
    </if>
  </select>
  
  <insert id="insert" parameterType="sc.system.model.WebScCalendar" >
    insert into WSC_CALENDAR (calendar_id, user_id, title, 
      start_time, end_time, memo
      )
    values (#{calendarId,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, 
      #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, #{memo,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="sc.system.model.WebScCalendar" >
    insert into WSC_CALENDAR
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="calendarId != null" >
        calendar_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="memo != null" >
        memo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="calendarId != null" >
        #{calendarId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKey" parameterType="sc.system.model.WebScCalendar" >
    update WSC_CALENDAR
    set user_id = #{userId,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      memo = #{memo,jdbcType=VARCHAR}
    where calendar_id = #{calendarId,jdbcType=VARCHAR}
  </update>
</mapper>