<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
    <meta charset="UTF-8">
    <title>页面添加</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/favicon.ico}"/>
    <link rel="stylesheet" th:href="@{/lib/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/animate.min.css}">
    <link rel="stylesheet" th:href="@{/lib/layui/extend/dtree.css}" />
    <link rel="stylesheet" th:href="@{/lib/layui/extend/font/dtreefont.css}">
</head>

<body>
	<span id="currentUserProvince" style="display: none;"><shiro:principal property="province"/></span>
	<span id="currentUserCity" style="display: none;"><shiro:principal property="city"/></span>
	<span id="currentUserArea" style="display: none;"><shiro:principal property="area"/></span>
	<span id="roleTypeId" style="display: none;"><shiro:principal property="roleTypeId"/></span>
	<div class="z-body animated fadeIn">
		<div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
			<ul class="layui-tab-title">
				<shiro:hasRole name="cjgly">
					<li>国家卫监局</li>
				</shiro:hasRole>
				<li class="layui-this">卫监局</li>
			</ul>
			<div class="layui-tab-content" style="height: 100px;">
				<!-- 国家卫监局 -->
				<div class="layui-tab-item">
					<form action="" method="post" class="layui-form layui-form-pane">
						<div class="layui-form-item">
							<label for="headName" class="layui-form-label">名称</label>
							<div class="layui-input-block">
								<input type="text" id="headName" name="headName"
									lay-verify="required" lay-vertype="tips" autocomplete="off"
									placeholder="请输入集团名称" class="layui-input">
							</div>
						</div>
						<div class="layui-form-item">
							<label for="headAddress" class="layui-form-label">地址</label>
							<div class="layui-input-block">
								<input type="text" id="headAddress" name="headAddress"
									lay-verify="required" lay-vertype="tips" autocomplete="off"
									placeholder="请输入卫监局地址" class="layui-input">
							</div>
						</div>
						<div class="layui-form-item">
							<label for="headTel" class="layui-form-label">电话</label>
							<div class="layui-input-block">
								<input type="text" id="headTel" name="headTel"
									lay-verify="required|telPhone" lay-vertype="tips" autocomplete="off"
									placeholder="请输入卫监局电话" class="layui-input">
							</div>
						</div>
						<div class="layui-form-item">
							<label for="headLeaderName" class="layui-form-label">负责人</label>
							<div class="layui-input-block">
								<input type="text" id="headLeaderName" name="headLeaderName"
									lay-verify="required" lay-vertype="tips" autocomplete="off"
									placeholder="请输入卫监局负责人" class="layui-input">
							</div>
						</div>
						<div class="layui-form-item">
							<label for="headLeaderTel" class="layui-form-label">负责人电话</label>
							<div class="layui-input-block">
								<input type="text" id="headLeaderTel" name="headLeaderTel"
									lay-verify="required|phone" lay-vertype="tips" autocomplete="off"
									placeholder="请输入负责人电话" class="layui-input">
							</div>
						</div>
						<div class="layui-form-item">
							<div class="layui-input-block"
								style="margin-left: 0; text-align: center;">
								<button class="layui-btn layui-btn-blue" lay-submit=""
									data-th-lay-filter="addHead">增加</button>
							</div>
						</div>
					</form>
				</div>
				<!-- 卫监局 -->
				<div class="layui-tab-item layui-show">
					<form action="" method="post" class="layui-form layui-form-pane">
						<div class="layui-form-item">
							<label class="layui-form-label">上级卫监局</label>
							<div class="layui-input-block">
								<div class="layui-unselect layui-form-select" id="parentBureauKit">
									<div class="layui-select-title">
										<input type="text" id="parentBureauText" placeholder="请选择"
											class="layui-input layui-unselect" readonly>
										<input type="hidden" id="bureauPid" name="bureauPid">
										<i class="layui-edge"></i>
									</div>
								</div>
								<div class="layui-card dtree-select" id="parentBureauTree">
									<div class="layui-card-body">
										<div>
											<ul id="bureauTree" class="dtree" data-id="0"
												style="width: 100%;"></ul>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="layui-form-item">
							<label for="province" class="layui-form-label">区域</label>
							<div class="layui-inline">
								<select name="province" lay-filter="province" class="province">
									<option value="">请选择省</option>
								</select>
							</div>
							<div class="layui-inline city">
								<select name="city" lay-filter="city" disabled>
									<option value="">请选择市</option>
								</select>
							</div>
							<div class="layui-inline area">
								<select name="area" lay-filter="area" disabled>
									<option value="">请选择县/区</option>
								</select>
							</div>
						</div>
						<div class="layui-form-item">
							<label for="bureauName" class="layui-form-label">名称</label>
							<div class="layui-input-block">
								<input type="text" id="bureauName" name="bureauName"
									lay-verify="required" lay-vertype="tips" autocomplete="off"
									placeholder="请输入卫监局名称" class="layui-input">
							</div>
						</div>
						<div class="layui-form-item">
							<label for="bureauAddress" class="layui-form-label">地址</label>
							<div class="layui-input-block">
								<input type="text" id="bureauAddress" name="bureauAddress"
									lay-verify="required" lay-vertype="tips" autocomplete="off"
									placeholder="请输入卫监局地址" class="layui-input">
							</div>
						</div>
						<div class="layui-form-item">
							<label for="bureauTel" class="layui-form-label">电话</label>
							<div class="layui-input-block">
								<input type="text" id="bureauTel" name="bureauTel"
									lay-verify="required|telPhone" lay-vertype="tips" autocomplete="off"
									placeholder="请输入卫监局电话" class="layui-input">
							</div>
						</div>
						<div class="layui-form-item">
							<label for="leaderName" class="layui-form-label">负责人</label>
							<div class="layui-input-block">
								<input type="text" id="leaderName" name="leaderName"
									lay-verify="required" lay-vertype="tips" autocomplete="off"
									placeholder="请输入卫监局负责人" class="layui-input">
							</div>
						</div>
						<div class="layui-form-item">
							<label for="leaderTel" class="layui-form-label">负责人电话</label>
							<div class="layui-input-block">
								<input type="text" id="leaderTel" name="leaderTel"
									lay-verify="required|phone" lay-vertype="tips" autocomplete="off"
									placeholder="请输入负责人电话" class="layui-input">
							</div>
						</div>
						<div class="layui-form-item">
							<div class="layui-form-item">
								<div class="layui-input-block"
									style="margin-left: 0; text-align: center;">
									<button class="layui-btn layui-btn-blue" lay-submit=""
										data-th-lay-filter="addBranch">增加</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<script th:src="@{/lib/jquery/jquery.min.js}"></script>
	<script th:src="@{/lib/layui/layui.js}"></script>
	<script th:src="@{/js/common.js}"></script>
	
	<script>
		var userProvince = $('#currentUserProvince').text() == 'null' ? null : $('#currentUserProvince').text();
		var userCity = $('#currentUserCity').text() == 'null' ? null : $('#currentUserCity').text();
		var userArea = $('#currentUserArea').text() == 'null' ? null : $('#currentUserArea').text();
		var currentNodeId = '';	// 当前选中节点
		var unCity = false;		// 市区划是否必填
		var unCounty = false;	// 县/区是否必填
		
		layui.config({
			base: '/lib/layui/extend/'
		}).use(['form', 'layer', 'dtree', 'address'], function () {
			var $ = layui.jquery,
				form = layui.form,
				layer = layui.layer,
				dtree = layui.dtree;
				address = layui.address();
			
			form.verify({
				telPhone: [/^0\d{2,3}[-]?\d{7,8}$|^0\d{2,3}\s?\d{7,8}$|^1[3-9][0-9]\d{8}$/, '请输入正确的固定电话或者手机号码']
			});
				
			var bureauDTree = dtree.render({
				elem: "#bureauTree",
				url: "/bureau/unleafTree",
				dataStyle: "layuiStyle",
				method: "GET",
				dot: false,     // 圆点是否显示
				accordion: true,
				menubar: false,
				record: true,
				response: {
					statusCode: 0,
					message: "msg",
					treeId: "id",
					parentId: "parentId",
					title: "name"
				}
			});
			
            $("#parentBureauText").on("click",function() {
                $(this).toggleClass("layui-form-selected");
                $("#parentBureauTree").toggleClass("layui-show layui-anim layui-anim-upbit");
            });

            dtree.on("node(bureauTree)", function(obj) {
            	if (currentNodeId != obj.param.nodeId) {
            		currentNodeId = obj.param.nodeId;
                	// 当前所选集团的行政区划
                	$("select[name=province]").html('<option value="">请选择省</option>');
    				$("select[name=city]").html('<option value="">请选择市</option>');
    				$("select[name=area]").html('<option value="">请选择县/区</option>');
    				$("select[name=city]").attr("disabled", "disabled");
    				$("select[name=area]").attr("disabled", "disabled");
    				
    				// 根据选择的上级机构及用户区划 动态更新可选择区域
                	if (obj.param.recordData.province.length === undefined) {
                		unCity = false;
                		unCounty = false;
                		$('.city').hide();
                		$('.area').hide();
                		address = layui.address(userProvince, userCity, userArea);
    				} else if (obj.param.recordData.city.length === undefined) {
    					unCity = true;
    					unCounty = false;
    					$('.city').show();
    					$('.area').hide();
                		address = layui.address(obj.param.recordData.province, userCity, userArea);
    				} else if (obj.param.recordData.area.length === undefined) {
    					unCity = true;
    					unCounty = true;
    					$('.city').show();
    					$('.area').show();
    					address = layui.address(obj.param.recordData.province, obj.param.recordData.city, userArea);
    				}
            	}
            	$("#bureauPid").val(obj.param.nodeId);
				$("#parentBureauText").val(obj.param.context);
				$("#parentBureauKit").toggleClass("layui-form-selected");
				$("#parentBureauTree").toggleClass("layui-show layui-anim layui-anim-upbit");
			});
            
			//监听提交
			form.on('submit(addHead)', function (form) {
            	form.field.bureauPid = "0";	// 总部默认父节点
            	form.field.bureauName = $('#headName').val();
            	form.field.bureauAddress = $('#headAddress').val();
            	form.field.bureauTel = $('#headTel').val();
            	form.field.leaderName = $('#headLeaderName').val();
            	form.field.leaderTel = $('#headLeaderTel').val();
				$.post('/bureau', form.field, function (result) {
					handlerResult(result, addDone);
				});
				return false;
			});
			
			//监听提交
			form.on('submit(addBranch)', function (form) {
				if ($("select[name=province]").val() == '') {
					alert("请选择省");
					return false;
            	}
            	if (unCity && $("select[name=city]").val() == '') {
            		alert("请选择市");
            		return false;
            	}
                $.post('/bureau', form.field, function (result) {
                    handlerResult(result, addDone);
                });
                return false;
            });
			
			//监听提交
			form.on('submit(edit)', function (form) {
				form.field._method = 'PUT';
				$.post('/dept', form.field, function (result) {
					handlerResult(result, editDone);
				});
				return false;
			});
			
			function addDone(data) {
				var index = parent.layer.getFrameIndex(window.name); 
				parent.layer.close(index); 
				parent.layer.msg("添加成功", {icon: 6});
			}
		});
	</script>
</body>

</html>